@charset "utf-8";

.about_page{
	background:#FAFAFA;
}



@media (max-width: 679px){
	.p-container__full__auto-paragraph{
		margin: 0 -15px;
	}
	.title_area{
		padding: 0 6px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		box-sizing:border-box;
	}
}




.about01{ 
	background:url(../images/index/main01_img.jpg) no-repeat center;
	background-size: cover;
}
@media (max-width: 679px){
	.about01{ 
		height: auto;
		padding-top: 40px;
		padding-bottom: 80px;
	}
}


.lead{ 
	color: #fff;
	text-shadow: 3px 2px 4px rgba(1, 65, 150, 1);
	margin-top: 30px;
	font-size: 105%;
	line-height: 1.9;	
}

.main_btn_link{
	
	width: 320px;
	padding: 10px 0;
	font-size: 110% !important;
	display:inline-block;
	text-align:center;
	font-size: 95%;
	margin-top: 0!important;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 50px;
	margin: auto;
	border: 1px solid #fff;
	color:#fff;
}
/*
.main_btn_link{
	text-decoration:none;
	padding: 2px 14px;
	display: inline-block;
}
*/
.main_btn_link:after{
	content:"▶";
	font-size: 80%;
	padding-left: 5px;
}
/*
.about01 .main_btn_link{
	color: #143075;
}
.about02 .main_btn_link,
.about03 .main_btn_link{
	color: #fff;
}
.about05 .main_btn_link{
	color: #120E18;
}
.about06 .main_btn_link{
	color: #BD8D5A;
}
*/
.about01 .main_btn_link:hover,
.about04 .main_btn_link:hover{
	background:#143075;
 }
.about02 .main_btn_link:hover,
.about03 .main_btn_link:hover{
	background:#2A5A30;
 }
.about05 .main_btn_link:hover{
	background:#120E18;
 }
.about06 .main_btn_link:hover{
	background:#BD8D5A;
 }

.main_btn_link:hover{
	color: #fff;
	transition: 0.6s;
	cursor:pointer;
	opacity:none;
	border: 1px solid #fff;
 }
.close{
	cursor:pointer;
	padding: 30px 0;
 }



.local_nav li{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #fff;
	position:relative;
	width: 28%;
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
.local_nav li a{
	color: #fff;
	text-decoration:none;
	padding: 5px;
	display:block;
}
.local_nav li a:hover{
	transition: opacity 0.2s ease 0s;
	opacity: 0.7;
}

.local_nav li:after{
	content:">";
	color: #fff;
	position:absolute;
	right: 10px;
	top: 0;
	margin-top: 5px;
}


@media (max-width: 679px){
	.local_nav li{
		width: 48%;
		display:inline-block;
		margin-top: 10px;
		margin-right: 0;
		font-size: 90%;
	}
	.local_nav li:after{
		right: 2px;
	}
	
}


.content_area{
	margin-top: 26px;
	display:none;
}

@media (max-width: 679px){
	.content_area{
		margin-top: 26px;
		padding: 0 10px;
		display:block;
	}
	.main_btn_link,
	.close{
		display:none;
	}
	
}


#about01 dl{
	display:table;
	position:relative;
	z-index:1;
	width: 100%;
}
#about01 dl:after{
	content:" "; display:block; clear:both; line-height:0; height: 0;
}
#about01 dt{
	color: #014195;
	font-size: 130%;
	font-weight: bold;
	display:table-cell;
	width: 15%;
	vertical-align:middle;
}
#about01 dt:before{
	content:"●";
	font-size: 120%;
}
#about01 dd{
	display:table-cell;
	vertical-align:middle;
}
#about01 .content_area{
	position: relative;
}

#about01 .content_area:after{
	content:" ";
	width: 440px;
	height: 400px;
	background:url(../images/index/about1_img02.gif) no-repeat;
	display:block;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 320px -110px auto 0;
}

.ichi,
.tokei,
.rekishi,
.chosyo{
	position:relative;
	z-index:1;
}

.bg_box{
	background:#EEEAEA;
	padding: 10px;
		
}

.choka dd{
	padding-right: 10px;
}
.choka dt.choboku{
	padding-left: 30px;
}

.toshi dd{
	vertical-align:top !important;
	padding-right: 20px;
}

@media (max-width: 679px){
	#about01 dl{
		display: block;
	}
	#about01 dt{
		display: block;
		width: 100% !important;
	}

	#about01 .content_area:after{
		background:none;
	}
	.choka dt.choboku{
		padding-left: 0;
	}
	.chouminkensyo dd,
	.toshi dd{
		display:block !important;
		width: auto;
	}
	.chouminkensyo dd img,
	.toshi dd img{
		display:block;
		margin: 10px auto 0;
	}

	.col2 .fl{
		float: none;
		display:block;
	}


	#about01 .ichi:before{
		content:" ";
		width: auto;
		height: 280px;
		background:url(../images/index/about1_img02.gif) no-repeat;
		background-size: cover;
		display:block;
		position: relative;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}

	
	
}


.lead_left{
	width: 580px;
	float: left;
	text-align:left;
}
@media (max-width: 679px){
	.lead_left{
		width: 90%;
		float: none;
		margin: auto;
	}
}


.about02{ 
	background:url(../images/index/main02_img.jpg) no-repeat center;
	background-size: cover;
}

#about02 dl{
	width: 420px;
	float: left;
}
#about02 dt{
	color: #004094;
	font-size: 136%;
}
#about02 dd{
	font-size: 95%;
	margin-top: 15px;
}
#about02 dd > img{
	margin-top: 20px;
}
#about02 .fl,
#about02 .fr{
	width: 420px;
}
@media (max-width: 679px){
	#about02 dl{
		width: auto;
		float: none;
	}
	#about02 .fl,
	#about02 .fr{
		width: auto;
	}
	#about02 dd > img{
		text-align:center;
	}

}


.about03{ 
	background:url(../images/index/main03_img.jpg) no-repeat center;
	background-size: cover;
}
.col4{
	display:table;
}
.col4:after{
	content:" "; clear:both; display:block; height: 0; line-height: 0;
}

.col4 li{
	width: 200px;
	display:table-cell;
	padding-left: 33px;
	position:relative;
}
.col4 li img{
	text-align:center;
	display:block;
	margin: auto;
}
.col4 li:first-child{
	padding-left: 0;
}

@media (max-width: 679px){
	.col4{
		display: block;
	}
	.col4 li{
		width: auto;
		display: block;
		padding-left: 0;
		position:relative;
		margin-bottom: 40px;
	}
	.col4 li + li{
		margin-top: 40px;
	}

	.col4 li p{
		margin-bottom: 10px;
	}

}


.more{
	background:#A8B4C1;
	color: #fff;
	text-decoration:none;
	padding: 2px 6px;
	font-size: 85%;
	text-align:center;
	width: 120px;
	position:absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: auto;

}

.more:after{
	content:"▶";
	font-size: 80%;
	padding-left: 5px;
}
.more:hover{
	color:#A8B4C1;
	background: #fff;
	border:1px solid #A8B4C1;
}
.more.tr{
	position:absolute;
	right: 10px;
	left: auto;
	bottom: -20px;
	margin: 10px 0 0 0;
}
.more.block{
	position: relative;
	right: 0;
	left: auto;
	bottom: auto;
	margin: auto;

}

@media (max-width: 679px){
	.more{
		padding: 12px 10px;
		font-size: 100%;
		width: auto;
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		display:block;
	
	}
	.more.tr{
		position: relative;
		right: 0;
		left: auto;
		bottom: 0;
		margin: 0 0 0 0;
	}
	.more.block{
		text-align:center;
		position: relative;
		right: 0;
		left: auto;
		bottom: auto;
		margin: auto;
	
	}

}



.about04{ 
	background:url(../images/index/main04_img.jpg) no-repeat center;
	background-size: cover;
}

.u-grid__col-6{
	position:relative;
}

@media (max-width: 679px){
	#about04 h3 span{
		display:block;
		font-size: 80%;
	}
	#about04 section + section{
		margin-top: 40px;
	}

}


.about05{ 
	background:url(../images/index/main05_img.jpg) no-repeat center;
	background-size: cover;
}

@media (max-width: 679px){
	#about05 .u-grid__col-8,
	#about05 .u-grid__col-4{
		width: auto;
		display:block;
		float: none;
	}
	#about05 .u-grid__col-4 p{
		margin-bottom: 10px;
	}

}


#about06{
	margin-bottom: 30px;
}
.about06{ 
	background:url(../images/index/main06_img.jpg) no-repeat center;
	background-size: cover;	
}


.about06 .lead{ 
	text-shadow: 3px 2px 4px rgba(189, 141, 90, 1);
}


.col3{
	display:table;
}
.col3:after{
	content:" "; clear:both; display:block; height: 0; line-height: 0;
}

.col3 li{
	width: 280px;
	display:table-cell;
	padding-left: 30px;
	position:relative;
}
.col3 li img{
	text-align:center;
}
.col3 li:first-child{
	padding-left: 0;
}

@media (max-width: 679px){
	.about06{ 
		background:url(../images/index/test.jpg) no-repeat center;
		background-size: cover auto;	
	}

	.col3{
		display: block;
	}
	.col3 li{
		width: auto;
		display: block;
		padding-left: 0;
	}
	.col3 li + li{
		margin-top: 40px;
	}
	.col3 li img{
		display: block;
		margin: auto;
	}

}




.color_bl{ color:#231815;}


.close{
	text-align:right;
}



.txt_s{
	font-size: 85%;
	color:#231815;
	text-align:center;
	font-family:"游明朝",YuMincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif
}
.txt_l{
	font-size: 130%;
	color:#004094;
	text-align:center;
	line-height: 1.6;
}




.title_area{ 
	height: 680px;
	padding-top: 80px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;	
	text-align:center;
	position:relative;
}
@media (max-width: 679px){
	.title_area{ 
		height: auto;
		padding-top: 20px;
		box-sizing:border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;	
		text-align:center;
	}

}




.w16{
	width: 17% !important;
}
.w18{
	width: 18% !important;
}
.w21{
	width: 21% !important;
}
.w22{
	width: 22% !important;
}
.w30{
	width: 30% !important;
}


.fl{ float: left; margin-right: 20px;}
.fr{ float: right;}
.zoom{ zoom: 1; overflow:auto;}
.font_l{ font-size: 110%;}
.font_w_normal{ font-weight: normal;}

.u-clearboth:after{
	content:" "; clear:both; display:block; height: 0; line-height: 0;
}

.mincho{
	font-family:"游明朝",YuMincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif
}


.u-text__center{ text-align:center;}

.u-mt__40 {
  margin-top: 40px !important;
}

@media (max-width: 679px){
	.c-pagetop{
		background:#fff;
		position: fixed;
		right: 10px;
		bottom: 5px;
		z-index: 99;
	}
}
