/**
 * annotation
 */

//  common style
@mixin annotation {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: $color-brown;
  font-size: 93%;
  font-weight: normal;

  @include mq-small {
    font-size: 10px;
  }
}

.c-annotation {
  @include annotation;
  padding-left: 12px;
  text-indent: -12px;
  &:before { content: '※'; }

  @include mq-small {
    padding-left: 10px;
    text-indent: -10px;
  }
}

.c-annotation__no {
  @include annotation;
}
