/**
 * buttons
 */

//  common style
@mixin btn {
  display: inline-block;
  min-width: 100px;
  margin: 5px;
  padding: 6px 10px;
  color: #fff;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #000;
  background-image: none;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  appearance: none;

  &:after {
    @include icon(i-arrow-r);
    margin-left: -4px;
  }

  &:hover {
    opacity: $base-opacity-rate;
  }

  //  options
  &.__block {
    display: block;
    width: 100%;
  }

  &.__blue {
    background-color: $color-blue;
  }

  @include mq-small {
    box-sizing: border-box;
  }
}

//  default style
.c-btn {
  @include btn;
  text-indent: 10px;

  &:hover,
  &:active,
  &:focus {
  }

  &:after {
    font-size: 10px;
  }
}

//  variations style
.c-btn__middle {
  @include btn;
  min-width: 200px;
  padding: 10px 10px;
  font-size: 124%;
  text-indent: 12px;

  &:after {
    font-size: 12px;
  }
}

.c-btn__large {
  @include btn;
  min-width: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 10px;
  font-size: 139%;
  text-indent: 6px;
  letter-spacing: 6px;
  text-indent: 14px;

  &:after {
    font-size: 14px;
  }

  @include mq-small {
    display: block;
    width: auto;
  }
}
