

/**
 * Text box
 */
.c-form__text {
	display: inline-block;
  width: 96%;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
  box-sizing: border-box;
  resize: vertical;
	-webkit-appearance: none;
	&:focus {
		outline: none;
		border-color: #f08300;
	}

  &.__xsmall { width: 16%; }
  &.__small  { width: 26%; }
  &.__middle { width: 50%; }

	@include mq-small {
    width: 100%;
    &.__xsmall { width: 30%; }
    &.__small  { width: 60%; }
    &.__middle { width: 60%; }
	}
}


/**
 * Radio button
 */
.c-form__radio {
  display: inline-block;
  margin: 0 30px 0 0;
  cursor: pointer;
  &:hover {
    opacity: $base-opacity-rate;
  }

  input[type="radio"]{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    cursor: pointer;
  }

  @include mq-small {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid #d8d8cb;
    background-color: #fff;
  }
}


/**
 * Select box
 */
.c-form__select {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;

  &:focus {
    outline: none;
    border-color: #f08300;
  }

  @include mq-small {
    width: 100%;
  }
}

/**
 * Check box
 */
.c-form__checkbox {
  display: inline-block;
  margin: 0 30px 0 0;
  padding-left: 15px;
  cursor: pointer;
  &:hover {
    opacity: $base-opacity-rate;
  }

  input[type="checkbox"]{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: 0 8px 0.1em -15px;
    cursor: pointer;
  }

  @include mq-small {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid #d8d8cb;
    background-color: #fff;

    input[type="checkbox"]{
      margin-left: 0;
    }
  }
}


