// ------------------------------
// Heading CSS
// ------------------------------

/**
 * c-heading-1
 */
.c-heading-1 {
  position: relative;
  margin: 40px 0 25px 0;
  padding: 8px 30px;
  font-size: 230%;
  font-weight: bold;
  font-family: $font-mincho;
  text-align: center;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;

  &:before,
  &:after {
    content: ":";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 34px;
    height: 34px;
    line-height: 0.8;
  }
  &:before { left: 0; }
  &:after  { right: 0; }
}

/**
 * c-heading-2
 */
@mixin c-heading-2 {
  margin: 40px 0 25px 0;
  font-size: 185%;
  font-weight: bold;
}

.c-heading-2 {
  @include c-heading-2;
}

.c-heading-2__mincho {
  @include c-heading-2;
  font-family: $font-mincho;
}


/**
 * c-heading-3
 */
@mixin c-heading-3 {
  margin: 40px 0 25px 0;
  font-size: 138%;
  font-weight: bold;
}

.c-heading-3 {
  @include c-heading-3;
}

.c-heading-3__mincho {
  @include c-heading-3;
  font-family: $font-mincho;
}
