/*!
 * link
 */

@mixin link {
  font-size: 108%;
  font-weight: bold;
  text-decoration: none;
  color: $base-link-color;

  &:hover {
    text-decoration: underline;
  }
}

.c-link {
  @include link;
  &:before {
    @include icon(i-arrow-circle-r);
    font-size: 18px;
    margin-right: 3px;
  }
}

.c-link__blank {
  @include link;
  color: #3e3a39;
  &:after {
    @include icon(i-blank);
    font-size: 18px;
    margin-left: 4px;
    margin-right: 8px;
  }
}

.c-link__pdf {
  @include link;
  color: $color-orange;

  &:after {
    @include icon(i-pdf);
    font-size: 18px;
    margin-left: 4px;
    margin-right: 8px;
  }
}

.c-link__xslx {
  @include link;
  color: $color-green;

  &:after {
    @include icon(i-xslx);
    font-size: 18px;
    margin-left: 4px;
    margin-right: 8px;
  }
}
