
/*!
 * list
 */

@mixin list {
  margin: 30px 0;
  font-size: 108%;
}

.c-list {
  @include list;
  margin-left: 15px;
  li:before {
    content: "●";
    min-width: 22px;
    margin: 0 5px 0 0;
    color: $color-blue;
    text-align: right;
  }
}

.c-list__num {
  @include list;
  counter-reset: listnum;
  margin-left: 7px;

  li:before {
    display: inline-block;
    counter-increment: listnum;
    content: counter(listnum) ".";
    min-width: 22px;
    margin: 0 5px 0 0;
    color: $color-blue;
    text-align: right;
  }
}
