/*!
 * pagetop
 */

.c-pagetop {
  overflow: hidden;
  margin: 30px auto;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $color-black;
  &:hover {
    border-color: transparent;
  }

  a {
    display: block;
    vertical-align: middle;
    height: 100%;
    color: $color-black;
    font-size: 108%;
    text-decoration: none;
    line-height: 50px;
    &:hover {
      background-color: $color-blue;
      color: #fff;
    }
  }

}
