/*!
 * table
 */

.c-table-1 {
  width: 100%;
  margin: 30px 0;
  table-layout: fixed;
  border-top: 2px solid #e3c9a0;
  border-bottom: 2px solid #e3c9a0;
  border-left: 2px solid #e3c9a0;

  tr {
    th, td {
      padding: 8px;
      font-size: 100%;
      font-weight: normal;
      text-align: center;
      border-right: 2px solid #e3c9a0;
      border-bottom: 2px solid #e3c9a0;
      box-sizing: border-box;
    }

    .__strong {
      color: #473226;
      font-size: 108%;
      font-weight: bold;
      background-color: #d3a967;
    }
    .__weak {
      color: #473226;
      font-size: 108%;
      font-weight: bold;
      border-right-style: dotted;
      background-color: #f3efec;
    }

    /**:first-child {
      border-left: none;
    }
    *:last-child {
      border-right: none;
    }
    &:first-child * {
      border-top: none;
    }
    &:last-child * {
      border-bottom: none;
    }*/
  }

  @include mq-small {
    border-width: 1px;
    tr {
      th, td {
        padding: 5px;
        font-size: 12px;
        border-width: 1px;
      }
      .__strong,
      .__weak {
        font-size: 12px;
      }
    }
  }
}
