
<div id="fb-root"></div>

<!-- Javascript -->
<script src="<?php echo $page->base; ?>/resources/js/ga.js"></script>
<script src="//maps.google.com/maps/api/js"></script>
<script src="<?php echo $page->base; ?>/resources/js/vendor/libs.js"></script>
<script src="<?php echo $page->base; ?>/resources/js/script.js"></script>
