// build by iconfont in gulp modules.

@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

%icon {
  font-family: "<%= fontName %>";
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  position: relative;
  top: -0.1em;
  display:inline-block;
  vertical-align:middle;
  line-height: 0;
  speak:none;
  text-decoration:inherit;
  text-decoration: none;
}

@function icon-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> {
    $char: "\<%= glyph.codePoint %>";
  }<% }); %>

  @return $char;
}

@mixin icon($filename) {
  @extend %icon;
  content: icon-char($filename);
}

// Example of use.
// @include icon(i-facebook);

// Icons list.
<% _.each(glyphs, function(glyph) { %>// - <%= glyph.fileName %>
<% }); %>
