<?php
// Include general settings.
require($_SERVER['CONFIG_PATH']);

// Setting Meta data.
$page->title = 'タイトルが入ります';
$page->description = 'ディスクリプションが入ります';

// Include <head>.
include($page->root.'/resources/tpl/head.tpl');
?>
</head>




<body>
<div id="base-page">
  <?php include($page->root.'/resources/tpl/base-header.tpl'); ?>
  <div id="base-container">

    <div class="p-content-header">
      <div class="p-content-header__heading">
        <h1 class="__text">空き家バンク</h1>
      </div>
      <img src="<?php echo $page->base; ?>/resources/img/_develop/dummy-5.jpg" width="1600" height="160" alt="">
    </div><!-- /.p-content-header -->

    <ul class="p-breadcrumb">
      <li class="p-breadcrumb__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">トップ</span></a></li>
      <li class="p-breadcrumb__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">空き家バンク</span></li>
    </ul>

    <div class="p-container">
      <div class="p-bank-map" id="js-map">
      </div>
    </div><!-- /.p-container -->

    <div class="p-container">
      <div class="p-bank-categories">
        <div class="p-bank-categories__item"><span class="__icon __is-selling">売</span><span class="__text">売ります</span></div>
        <div class="p-bank-categories__item"><span class="__icon __is-rental">貸</span><span class="__text">貸します</span></div>
        <div class="p-bank-categories__item"><span class="__icon __is-municipal">町営</span><span class="__text">町営住宅</span></div>
        <div class="p-bank-categories__item"><span class="__icon __is-lodging">宿</span><span class="__text">宿泊体験</span></div>
        <div class="p-bank-categories__item"><span class="__icon __is-tenants-in">現在入居中</span><span class="__text">現在入居中</span></div>
      </div><!-- /.p-bank-categories -->
    </div><!-- /.p-container -->

    <div class="p-container">
      <div class="p-entries-bank">
        <div class="p-entries-bank__item" id="article-000001">
          <div class="p-entries-bank__item__detail">
            <div class="p-entries-bank__item__detail__heading">
              <h3 class="__heading">物件のタイトルが入ります。</h3>
              <div class="__categories">
                <div class="__categories__icon __is-rental">貸</div>
                <div class="__categories__icon __is-tenants-in">現在入居中</div>
              </div>
            </div>
            <dl class="__item-text">
              <dt>所在地</dt>
              <dd>住所が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>価　格</dt>
              <dd>価格が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>面　積</dt>
              <dd>面積が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>間取り</dt>
              <dd>間取りが入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>駐車場</dt>
              <dd>駐車場が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>その他</dt>
              <dd>その他が入ります</dd>
            </dl>
            <div class="__contact">
              <p class="__contact__heading">お問い合わせ先</p>
              <div class="__contact__text">
                <p><strong>壮瞥町役場</strong></p>
                <p>〒052-0101 北海道有珠郡壮瞥町字滝之町287番地7</p>
                <p>TEL : (0142)66-2121 FAX : (0142)66-7001</p>
              </div>
            </div>
          </div>
          <div class="p-entries-bank__item__image">
            <ul class="__list js-gallery">
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
            </ul>
          </div>
          <p class="p-entries-bank__item__pagetop"><a href="#base-page">このページの上部へ</a></p>
        </div><!-- /.p-entries-bank__item -->
        <div class="p-entries-bank__item" id="article-000002">
          <div class="p-entries-bank__item__detail">
            <div class="p-entries-bank__item__detail__heading">
              <h3 class="__heading">物件のタイトルが入ります。</h3>
              <div class="__categories">
                <div class="__categories__icon __is-rental">貸</div>
                <div class="__categories__icon __is-tenants-in">現在入居中</div>
              </div>
            </div>
            <dl class="__item-text">
              <dt>所在地</dt>
              <dd>住所が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>価　格</dt>
              <dd>価格が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>面　積</dt>
              <dd>面積が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>間取り</dt>
              <dd>間取りが入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>駐車場</dt>
              <dd>駐車場が入ります</dd>
            </dl>
            <dl class="__item-text">
              <dt>その他</dt>
              <dd>その他が入ります</dd>
            </dl>
            <div class="__contact">
              <p class="__contact__heading">お問い合わせ先</p>
              <div class="__contact__text">
                <p><strong>壮瞥町役場</strong></p>
                <p>〒052-0101 北海道有珠郡壮瞥町字滝之町287番地7</p>
                <p>TEL : (0142)66-2121 FAX : (0142)66-7001</p>
              </div>
            </div>
          </div>
          <div class="p-entries-bank__item__image">
            <ul class="__list js-gallery">
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
              <li class="__listItem"><a href="https://placehold.jp/400x300.png"><img src="https://placehold.jp/200x150.png" alt=""></a></li>
            </ul>
          </div>
          <p class="p-entries-bank__item__pagetop"><a href="#base-page">このページの上部へ</a></p>
        </div><!-- /.p-entries-bank__item -->
      </div><!-- /.p-entries-bank -->
    </div><!-- /.p-container -->


  </div><!-- /#base-container -->
  <?php include($page->root.'/resources/tpl/base-footer.tpl'); ?>
</div><!-- /#base-page -->
<?php include($page->root.'/resources/tpl/foot.tpl'); ?>
<script>
Script.Bank.init();
</script>
</body>
</html>
