// ==========================================================================
//  Reset
// ==========================================================================

//overwrite the "normalize.css" style

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl {
  dt {
  }
  dd {
    margin: 0;
  }
}
