// ==========================================================================
//  Base
// ==========================================================================

/**
 * General style
 */
::selection {
  text-shadow: none;
  background: rgba(55, 153, 236, 0.6);
}

html {
  color: $base-color;
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
  @include mq-small {
    line-height: 1.64;
    font-size: 13px;
  }
}

body {
  text-size-adjust: none;
  background: #FFF;

  @include mq-small {
    min-width: 320px;
  }
  @include mq-print {
    width: $base-page-max-width;
  }
}

a {
  color: $base-link-color;
  &:hover,
  &:active {
    text-decoration: none;
  }
  &:visited {}
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

iframe[name='google_conversion_frame'] {
  position: absolute;
  top: 0;
  left: -100px;
  width: 1px;
  height: 1px;
}
