@charset "utf-8";

.u-block__center{
	display:block;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 679px){
	.p-container__full__auto-paragraph{
		margin: 0 -15px;
	}
}



.map_bg{
	background: url(../images/access/map_bg.jpg) repeat;
}
.map_area{
	width: 900px;
	margin: auto;
	position:relative;
	padding-top: 20px;
}
.map_area:after{
	content:" "; display:block; clear:both; height: 0; line-height: 0;
}

.map_area .text_box{
	width: 368px;
	position: absolute;
	left: 0;
	z-index:1;
}
.map_area .text_box dl{
	width: 270px;
	margin: 30px auto 0;
	padding: 15px;
	background:#fff;
	box-sizing:border-box;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(144, 135, 131, 0.75);
	-moz-box-shadow:    2px 2px 2px 0px rgba(144, 135, 131, 0.75);
	box-shadow:         2px 2px 2px 0px rgba(144, 135, 131, 0.75);		
}
.map_area .text_box dt{
	color:#004094;
	font-size: 110%;
}
.map_area .text_box dd{
	font-size: 95%;
}
.map_area .text_box p{
	margin-top: 5px;
}
.map_area .text_box p > a{
	font-weight:normal;
}

.map_area .img_box{
	width: 573px;
	float: right;
	position: relative;
}

@media (max-width: 679px){

	.map_bg{
		padding-bottom: 220px;
	}
	.map_area{
		width: auto;
	}
	.map_area .text_box{
		width: 54%;
		left: 15px;
	}
	.map_area .text_box dl{
		position:absolute;
		top: 80%;
		left: 10px;
		width: 150%;
		padding: 10px 0px 5px 15px;
	}
	.map_area .img_box{
		width: 40%;
	}
}



.p-container__full__auto-margin-paragraph{
	position:relative;
	z-index:1;
	top: -30px;
}

@media (max-width: 679px){
	.p-container__full__auto-margin-paragraph{
		top: ;
	}
}

.c-heading-1{
	margin-top: 0;
	background:#fff;
}

.title_bg{
	background:#19539e;
	color:#fff;
	width: 250px;
	text-align:center;
	padding: 2px 0;
	margin-bottom:0;
}
.title_bg > strong{
	font-size: 120%;
}

.c-link > a{
	text-decoration:none;
}

.c-link a .text_url{
	color:#231815;
	display:block;
}

@media (max-width: 679px){
	.c-link a .text_url{
		display:none;
	}
}

.box_block{
	width: 840px;
	margin: 18px auto 0;
}
.box_block:after{
	content:" "; display:block; clear:both; height: 0; line-height: 0;
}
.box_block li{
	border: 2px solid #19539e;
	width: 412px;
	display:inline-block;
	padding: 8px 0;
	text-align:center;
}
.box_block li:nth-child(even){
	float: right;
}
.box_block li strong{
	font-size: 115%;
	font-weight: normal;
}
.box_block li span{
	color: #004094;
	font-size: 130%;
	font-weight: bold;
}

@media (max-width: 679px){
	.box_block{
		width: 100%;
	}
	.box_block li{
		width: 100%;
		display:block;
		float: none;
	}
	.box_block li+li{
		margin-top: 10px;
	}
	.box_block li:nth-child(even){
		float: none;
	}
}



.blue_bg{
	background:#19539e;
	padding: 50px 0;
}
.blue_bg h2{
	width: 1000px;
	margin: auto;
	text-align:center;
	color: #fff;
	line-height:0;
	position:relative;
}
.blue_bg h2:before{
	content:"　";
	background:url(../images/access/border-l.gif) no-repeat;
	display:block;
	height: 8px;
	position:absolute;
	width: 315px;
}
.blue_bg h2:after{
	content:"　";
	background:url(../images/access/border-r.gif) no-repeat;
	display:block;
	height: 8px;
	position:absolute;
	width: 315px;
	right: 0;
}

@media (max-width: 679px){
	.blue_bg{
		padding: 30px 0 10px;
	}
	.blue_bg h2{
		width: auto;
	}
	.blue_bg h2:before{
		width: auto;
	}
	.blue_bg h2:after{
		width: auto;
	}
}


.traffic_info{
	width: 900px;
	margin: 10px auto;
}
.traffic_info:after{
	content:" "; display:block; clear:both; height: 0; line-height: 0;	
}
.traffic_info li{
	text-align:center;
	display:block;
	float: left;
	background:#fff;
	width: 430px;
	margin-top: 30px;
}
.traffic_info li:nth-child(even){
	float: right;
}
.traffic_info li a{
	text-align:left;
	display: block;
	margin: auto;
	text-decoration:none;
	padding: 10px 70px;
}
.traffic_info li .name{
	color: #231815;
	letter-spacing: 1px;
}
.traffic_info li .ico_tel{
	color: #003D8A;
	font-size: 135%;
	font-weight: bold;
	background-image:url(../images/access/ico_tel.gif);
	background-size: 12% auto;
	background-position:left center;
	background-repeat:no-repeat;
	padding-left: 34px;
}

@media (max-width: 679px){
	.traffic_info{
		width: 94%;
		margin-top: 30px;
	}
	.traffic_info li{
		width: auto;
		float: none;
		margin-top: 10px;
	}
	.traffic_info li:nth-child(even){
		float: none;
	}
	.traffic_info li a{
		padding: 10px 10px;
	}

}


.gmap > h2{
	font-size: 400%;
	letter-spacing: 3px;
	font-weight: normal;
}
.gmap{
	margin-bottom: 40px;
	text-align:center;
}
#map{
	width: 100%;
	height: 790px;
}

@media (max-width: 679px){
	#map{
		height: 390px;
	}
}