@charset "utf-8";
/* CSS Document */

.c-txt__left{
	text-align:left !important;
}

table.c-td__left td{
	text-align:left;
}
.u-w10{
	width: 10%;
}
.u-w15{
	width: 15%;
}
.u-w20{
	width: 20%;
}
.u-w25{
	width: 25%;
}
.u-w30{
	width: 30%;
}
.u-w70{
	width: 70%;
}

.u-bold{
	font-weight: bold;
}
.u-normal{
	font-weight: normal !important;
}
.c-table-1 tr .__strong .u-normal{
	font-weight: normal !important;
	font-size: 85%;
}
.u-font__s{
	font-size: 85%;
}

.u-mb__small{
	margin-bottom: 10px !important;
}

.u-box_border{
	border: 2px dotted #0D4C99;
	padding: 10px;
	box-sizing:border-box;
}

.p-list__mb10 > li+li{
	margin-top: 10px;
}
.p-list__mt20 > li+li{
	margin-top: 20px;
}

.u-mb__small {
  margin-bottom: 10px !important;
}

.u-circle__blue:before {
  content:"●";
  color: #004094;
  margin-right: 5px;
}

.arrow_b{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 40px;
	border-color: #C3B89A transparent transparent transparent;
	margin: auto;
}

.u-block__center{
	display:block;
	margin-right: auto;
	margin-left: auto;
}
