// build by iconfont in gulp modules.

@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?v=20160505');
  src: url('../fonts/iconfont.eot?v=20160505#iefix') format('eot'),
    url('../fonts/iconfont.woff?v=20160505') format('woff'),
    url('../fonts/iconfont.ttf?v=20160505') format('truetype'),
    url('../fonts/iconfont.svg?v=20160505#iconfont') format('svg');
}

%icon {
  font-family: "iconfont";
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  position: relative;
  top: -0.1em;
  display:inline-block;
  vertical-align:middle;
  line-height: 0;
  speak:none;
  text-decoration:inherit;
  text-decoration: none;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == cat-1-access {
    $char: "\E001";
  }
  @if $filename == cat-1-calender {
    $char: "\E002";
  }
  @if $filename == cat-1-congress {
    $char: "\E003";
  }
  @if $filename == cat-1-office {
    $char: "\E004";
  }
  @if $filename == cat-1-publish {
    $char: "\E005";
  }
  @if $filename == cat-1-rule {
    $char: "\E006";
  }
  @if $filename == cat-1-system {
    $char: "\E007";
  }
  @if $filename == cat-2-certificate {
    $char: "\E008";
  }
  @if $filename == cat-2-childcare {
    $char: "\E009";
  }
  @if $filename == cat-2-condolence {
    $char: "\E00A";
  }
  @if $filename == cat-2-form {
    $char: "\E00B";
  }
  @if $filename == cat-2-house {
    $char: "\E00C";
  }
  @if $filename == cat-2-learning {
    $char: "\E00D";
  }
  @if $filename == cat-2-marriage {
    $char: "\E00E";
  }
  @if $filename == cat-2-trash {
    $char: "\E00F";
  }
  @if $filename == cat-2-welfare {
    $char: "\E010";
  }
  @if $filename == cat-3-alert {
    $char: "\E011";
  }
  @if $filename == cat-3-info {
    $char: "\E012";
  }
  @if $filename == cat-3-search {
    $char: "\E013";
  }
  @if $filename == cat-4-immigration {
    $char: "\E014";
  }
  @if $filename == cat-4-sightseeing {
    $char: "\E015";
  }
  @if $filename == i-arrow-circle-r {
    $char: "\E016";
  }
  @if $filename == i-arrow-l {
    $char: "\E017";
  }
  @if $filename == i-arrow-r {
    $char: "\E018";
  }
  @if $filename == i-blank {
    $char: "\E019";
  }
  @if $filename == i-email {
    $char: "\E01A";
  }
  @if $filename == i-facebook {
    $char: "\E01B";
  }
  @if $filename == i-pdf {
    $char: "\E01C";
  }
  @if $filename == i-tel {
    $char: "\E01D";
  }
  @if $filename == i-xslx {
    $char: "\E01E";
  }

  @return $char;
}

@mixin icon($filename) {
  @extend %icon;
  content: icon-char($filename);
}

// Example of use.
// @include icon(i-facebook);

// Icons list.
// - cat-1-access
// - cat-1-calender
// - cat-1-congress
// - cat-1-office
// - cat-1-publish
// - cat-1-rule
// - cat-1-system
// - cat-2-certificate
// - cat-2-childcare
// - cat-2-condolence
// - cat-2-form
// - cat-2-house
// - cat-2-learning
// - cat-2-marriage
// - cat-2-trash
// - cat-2-welfare
// - cat-3-alert
// - cat-3-info
// - cat-3-search
// - cat-4-immigration
// - cat-4-sightseeing
// - i-arrow-circle-r
// - i-arrow-l
// - i-arrow-r
// - i-blank
// - i-email
// - i-facebook
// - i-pdf
// - i-tel
// - i-xslx
