// For RWD screen
//
// Breakpoint param is setted by '/setting/_variables.scss'
// @{param} string $mq-breakpoint-large
// @{param} string $mq-breakpoint-small
//
// Example of use
// selector {
//   //All styles...
//   @include mq-large {
//     //PC styles...
//   }
//   @include mq-middle {
//     //Tablets styles...
//   }
//   @include mq-small {
//     //Smartphones styles...
//   }
// }

// For PC
@mixin mq-large {
  @media (min-width: $mq-breakpoint-large) {
    @content;
  }
}

// For Tablets
@mixin mq-middle {
  @media (max-width: $mq-breakpoint-large - 1) {
    @content;
  }
}

// For Smartphones
@mixin mq-small {
  @media (max-width: $mq-breakpoint-small - 1) {
    @content;
  }
}


// For Optional width screen
//
// @{param} string $min-width
// @{param} string $max-width
//
// Example of use
// selector {
//   @include mq-screen(600px, 1000px){
//     //styles...
//   }
//   @include mq-screen-min(400px){
//     //styles...
//   }
//   @include mq-screen-max(400px){
//     //styles...
//   }
// }

@mixin mq-screen($min-width, $max-width) {
  @media ( min-width: $min-width ) and ( max-width: $max-width ) {
    @content;
  }
}

@mixin mq-screen-min($min-width) {
  @media ( min-width: $min-width ) {
    @content;
  }
}

@mixin mq-screen-max($max-width) {
  @media ( max-width: $max-width ) {
    @content;
  }
}

// For Print screen
//
// Example of use
// selector {
//   @include mq-print{
//     //print styles...
//   }
// }

@mixin mq-print () {
  @media print {
    @content;
  }
}

// For Old IE screen
//
// Example of use
// selector {
//   @include mq-old-ie {
//     //styles...
//   }
// }
//

@mixin mq-old-ie () {
  .lt-ie9 {
    @content;
  }
}
