// ==========================================================================
//  utils
// ==========================================================================

// Clearfix
@mixin clearfix {
  &:after {
    content:" ";
    display:block;
    clear:both;
  }
}
