// ==========================================================================
//  variables
// ==========================================================================

// Path
//$path-img: '/sobetsu/resources/img';
$path-img: '/resources/img';

// Base Style
$base-site-color: #004094;
$base-color: #231815;
$base-link-color: #004094;
$base-font-size: 14px;
$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;
$base-line-height: 1.8;
$base-page-max-width: 1000px;
$base-opacity-rate: 0.7;

// Breakpoint setting for '/setting/_mq.scss'
$mq-breakpoint-small : 680px;
$mq-breakpoint-large : 1040px;

// Colors
$color-white: #fff;
$color-black: #231815;
$color-gray: #e4e5e5;
$color-red: #D92911;
$color-blue: #004094;
$color-orange: #e95513;
$color-green: #009245;
$color-brown: #9b8956;

// Fonts
$font-mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;;

// Entries category colors
$color-job   : #ece2e2;
$color-life  : #acbbaa;
$color-nature: #dcdddd;

$color-admin : #014195;


$color-life: #849542;
$color-gyosei: #D2A125;
$color-bosai: #C7243A;
$color-event: #23AC0E;
$color-koho: #B61972;
$color-gikai: #007AB7;
$color-saiyo: #5D639E;
$color-other: #8E8E8E;
