@charset "utf-8";
// This framework is the CSS configuration for the modular approach.
// It was incorporated the concept of FLOCSS (https://github.com/hiloki/flocss).

/*!
 * Build by sass.
 */

// ==========================================================================
//  Settings
// ==========================================================================
@import 'setting/variables';
@import 'setting/utils';
@import 'setting/mq';
@import 'setting/iconfont';

/*!
 * TOP
 */
.p-header__nav {
  position: absolute;
  bottom: -560px;
  width: 100%;

  @include mq-small {
    position: relative;
    bottom: 0;
  }
}

.p-header__sideNav {
  top: 150px;
}

.p-header__sideNav__listItem {
  right: 0;
  margin-bottom: 0;

  a {
    padding: 10px 27px;
    text-indent: 2px;
    &:hover { opacity: $base-opacity-rate; }

    &.__sightseeing:before,
    &.__immigration:before {
      display: block;
      top: 0;
      margin-right: 0;
      font-size: 74px;
      line-height: 0.7;
    }
  }

  &:not(:last-child) {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 1px;
      background-color: #fff;
    }
  }
}

/**
 * modules
 */
.top-row {
  @include clearfix;
}

.top-col__left {
  float: left;
  width: 67%;

  @include mq-small {
    float: none;
    width: 100%;
  }
}

.top-col__right {
  float: right;
  width: 29%;

  @include mq-small {
    float: none;
    width: 100%;
  }
}

.top-heading-delta {
  color: #3467aa;
  text-align: center;
  position: relative;
  z-index: 1;
  min-height: 100px;
  margin-bottom: 25px;
  padding-top: 8px;
  font-size: 185%;
  line-height: 1.3;
  box-sizing: border-box;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 100px solid #fff;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }

  @include mq-small {
    min-height: 70px;
    margin-bottom: 15px;
    padding-top: 0;
    font-size: 18px;
    &:before {
      border-top-width: 70px;
      border-left-width: 100px;
      border-right-width: 100px;
    }
  }
}

/**
 * top-hero
 */
.top-hero {
  position: relative;
  margin: 0 auto 130px;
  height: 480px;
  background: url('#{$path-img}/page/top/top-hero-image-1.jpg') repeat-x center;

  @include mq-small {
    margin: 0 0 30px;
    height: 280px;
    background-size: auto 100%;
  }
}

.top-hero-text {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  margin: auto;
  text-align: center;
  line-height: 0;
  img { margin-top: -85px; }

  @include mq-small {
    position: static;
    padding: 50px 30px 0;
    box-sizing: border-box;
    img { margin: 0; }
  }
}

/**
 * top-transmit-sobetsu
 */
.top-transmit-sobetsu {
  position: relative;

}

.top-transmit-sobetsu__heading {
  float: left;
  margin-top: -2px;

  @include mq-small {
    position: absolute;
    z-index: 2;
    top: -11px;
    left: 10px;
    float: none;
    margin-top: 0;
  }
}

.top-transmit-sobetsu__btn {
  float: right;
  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-indent: 10px;
    background-color: #000;
    &:after {
      @include icon(i-arrow-r);
      font-size: 10px;
      margin-left: -4px;
    }
    &:hover {
      opacity: $base-opacity-rate;
    }
  }

  @include mq-small {
    display: none;
  }
}

.top-transmit-sobetsu__item {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid $color-blue;
  clear: both;
  @include clearfix;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    @include clearfix;
    &:hover {
      opacity: $base-opacity-rate;
    }
  }

  @include mq-small {
    padding-top: 24px;
  }
}

.top-transmit-sobetsu__item__image {
  float: left;
  margin-right: 15px;
  img {
    width: 120px;
    height: 120px;
  }

  @include mq-small {
    margin-right: 0;
    margin-bottom: 15px;
    width: 20%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.top-transmit-sobetsu__item__heading {
  float: left;
  width: 78%;
  margin-bottom: 10px;
  padding-bottom: 4px;
  font-size: 139%;
  border-bottom: 1px dashed $color-blue;

  @include mq-small {
    width: 80%;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: none;
    box-sizing: border-box;
  }
}

.top-transmit-sobetsu__item__text {
  float: left;
  width: 78%;
  @include mq-small {
    width: 100%;
  }
}

/**
 * top-entries-recently
 */
.top-entries-recently {
  @include mq-small {
    margin: 30px auto;
  }
}

.top-entries-recently__header {
  position: relative;
  border-bottom: 2px solid $color-black;
  @include clearfix;
}

.top-entries-recently__header__heading {
  margin-bottom: 4px;
  font-size: 154%;
  font-weight: bold;
  &:before {
    @include icon(cat-3-info);
    margin-right: 3px;
    font-size: 30px;
  }

  .__tag {
    position: relative;
    top: -0.1em;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 0;
    margin-right: 6px;
    font-size: 18px;
    letter-spacing: 8px;
    text-indent: 8px;
    line-height: 1;
    border: 1px solid $color-black;
  }

  @include mq-small {
    font-size: 18px;
    &:before {
      margin-right: 5px;
      font-size: 34px;
    }
  }
}

.top-entries-recently__header__more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-indent: 10px;
    background-color: #000;
    &:after {
      @include icon(i-arrow-r);
      font-size: 10px;
      margin-left: -4px;
    }
    &:hover {
      opacity: $base-opacity-rate;
    }
  }

  @include mq-small {
    display: none;
  }
}

.top-entries-recently__list__item {
  padding: 12px 0;
  color: $color-black;
  border-bottom: 1px dashed $color-black;
  &:nth-child(6) { border-bottom: 2px solid $color-black; }
  &:nth-child(n + 7) { display: none; }
  &:hover { background-color: #F5F5F5; }

  @include clearfix;

  .__data {
    float: left;
    width: 38%;

    .__data__tag {
      margin-right: 5px;
      a {
        display: inline-block;
        min-width: 100px;
        padding: 1px 8px;
        padding: 0 8px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background-color: #014195;
        &:hover {
          opacity: $base-opacity-rate;
        }
        &.__is-life { background-color: $color-life; }
        &.__is-gyosei { background-color: $color-gyosei; }
        &.__is-bosai { background-color: $color-bosai; }
        &.__is-event { background-color: $color-event; }
        &.__is-koho { background-color: $color-koho; }
        &.__is-gikai { background-color: $color-gikai; }
        &.__is-saiyo { background-color: $color-saiyo; }
        &.__is-other { background-color: $color-other; }
      }
    }
    .__data__date {
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 16px;
        margin-left: 10px;
        background-color: $color-black;
      }
    }
  }
  .__detail {
    float: right;
    width: 61%;

    .__detail__title {
      color: inherit;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }

  @include mq-small {
    padding: 10px 0;

    .__data {
      float: none;
      margin-bottom: 8px;
      width: 100%;
      .__data__date {
        &:after { display: none; }
      }
    }
    .__detail {
      float: none;
      width: 100%;
    }
  }
}

/**
 * top-side-nav
 */
.top-side-nav__list__item {
  margin-bottom: 10px;

  a {
    display: block;
    padding: 18px 17px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background-color: $color-blue;
    &:hover {
      opacity: $base-opacity-rate;
    }

    &.__is-calender:before { @include icon(cat-1-calender); }
    &.__is-publish:before  { @include icon(cat-1-publish); }
    &.__is-office:before   { @include icon(cat-1-office); }
    &.__is-congress:before { @include icon(cat-1-congress); }
    &.__is-system:before   { @include icon(cat-1-system); }
    &.__is-rule:before     { @include icon(cat-1-rule); }
    &.__is-access:before   { @include icon(cat-1-access); }
    &.__is-form:before   { @include icon(cat-2-form); }
    &:before {
      margin-top: 4px;
      margin-right: 11px;
      font-size: 46px;
    }
  }

  @include mq-small {
    margin-bottom: 0;
    width: 50%;
    float: left;
    padding: 0 2.5px;
    box-sizing: border-box;
    &:not(:last-child) { margin-bottom: 5px; }
    a {
      padding: 10px 10px;
      font-size: 12px;
      &:before {
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}

/**
 * top-banners-3
 */
.top-banners-3 {
  margin: 30px auto;
  @include mq-small {
    margin: 15px auto;
  }
}

.top-banners-3__list {
  @include clearfix;
}

@mixin top-banners-3__list__item {
  a { &:hover { opacity: $base-opacity-rate; }}
  @include mq-small {
    &:not(:last-child) { margin-bottom: 15px; }
    img { width: 100%; }
  }
}
.top-banners-3__list__item__left {
  @include top-banners-3__list__item;
  float: left;
}

.top-banners-3__list__item__right {
  @include top-banners-3__list__item;
  float: right;
}

/**
 * top-life-window
 */
.top-life-window {
  background: url('#{$path-img}/page/top/ph-1.jpg') no-repeat center bottom;
  background-size: cover;
  margin: 30px auto;

  @include mq-small {
    margin: 30px auto;
  }
}

.top-life-window__inner {
  max-width: $base-page-max-width;
  margin: 0 auto;
  padding-bottom: 114px;
  @include mq-small {
    padding-bottom: 10px;
  }
}

.top-life-window__inner__list {
  margin: 0 -2px;
  @include clearfix;

  @include mq-small {
    margin: 0 7.5px;
  }
}

.top-life-window__inner__list__item {
  float: left;
  width: 33.3%;
  padding: 0 2px;
  margin: 2px 0;
  box-sizing: border-box;

  a {
    position: relative;
    display: block;
    padding: 16px 16px 16px 100px;
    color: inherit;
    font-size: 124%;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1px;
    background-color: #fff;
    &:hover { opacity: $base-opacity-rate; }

    &.__is-form:before        { @include icon(cat-2-form); }
    &.__is-certificate:before { @include icon(cat-2-certificate); }
    &.__is-house:before       { @include icon(cat-2-house); }
    &.__is-trash:before       { @include icon(cat-2-trash); }
    &.__is-marriage:before    { @include icon(cat-2-marriage); }
    &.__is-childcare:before   { @include icon(cat-2-childcare); }
    &.__is-learning:before    { @include icon(cat-2-learning); }
    &.__is-welfare:before     { @include icon(cat-2-welfare); }
    &.__is-condolence:before  { @include icon(cat-2-condolence); }
    &:before {
      position: absolute !important;
      top: 0 !important;;
      bottom: 0;
      left: 35px;
      height: 0;
      margin: auto 0;
      color: $color-blue;
      font-size: 37px;
    }
  }

  @include mq-small {
    width: 50%;
    padding: 0 2.5px;
    margin: 0 0 5px;
    a {
      padding: 10px 15px 10px 35px;
      font-size: 12px;
      &:before {
        left: 10px;
        font-size: 20px;
      }
    }
  }
}



/**
 * top-pref-infomations
 */
.top-pref-infomations {
  margin: 30px -15px;
  @include clearfix;

  @include mq-small {
    margin: 30px 0;
  }
}

.top-pref-infomations__item {
  float: left;
  width: 33.3%;
  padding: 15px;
  box-sizing: border-box;

  @include mq-small {
    float: none;
    width: 100%;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.top-pref-infomations__item__disaster {
  .__table {
    width: 100%;
    min-height: 180px;
    table-layout: fixed;
    tr {
      th, td {
        border: 1px solid $color-black;
      }
      th {
        padding: 6px;
        color: #fff;
        font-size: 124%;
        font-weight: normal;
        text-indent: -6px;
        background-color: $color-black;
        &:before {
          @include icon(cat-3-alert);
          margin-top: 3px;
          margin-right: 3px;
          font-size: 28px;
        }
      }
      td {
        vertical-align: top;
        font-size: 93%;
        background-color: #f6f7f7;
        a {
          display: block;
          padding: 6px 10px;
          text-decoration: none;
          color: inherit;
          &:hover {
            color: $base-link-color;
            text-decoration: underline;
          }
        }
      }
      &:nth-child(2n) {
        td { background-color: #e6e6e7; }
      }
    }
  }

  @include mq-small {
    min-height: 0;
  }
}

.top-pref-infomations__item__weather {
  background-color: $color-blue;
  @include clearfix;

  .__image {
    float: left;
    width: 57%;
    min-height: 180px;
    background-color: #f6f7f7;
    img {
      padding: 20px;
      box-sizing: border-box;
    }
  }
  .__detail {
    display: table-cell;
    vertical-align: middle;
    width: 43%;
    height: 180px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    .__detail__date {
      display: block;
      margin-bottom: 10px;
      font-size: 131%;
    }
    .__detail__weather {
      display: block;
      padding: 0 15px;
      font-size: 124%;
      span {
        display: block;
        font-size: 85%;
        font-weight: normal;
      }
    }
  }

  @include mq-small {
    .__image {
      min-height: 140px;
      img {
        padding: 10px;
      }
    }
    .__detail {
      width: 30%;
      height: 140px;
    }
  }
}

.top-pref-infomations__item__population {
  min-height: 180px;
  padding: 20px 10px 10px 20px;
  background-color: $color-gray;
  box-sizing: border-box;
  @include clearfix;

  .__heading {
    float: left;
    width: 36%;
    margin-right: 6%;
    span {
      display: block;
      padding: 22px 16px;
      color: $color-blue;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.34;
      background-color: #fff;
    }
  }
  .__table {
    float: left;
    width: 58%;
    text-align: left;
    tr {
      th, td {
        padding-bottom: 4px;
        font-size: 100%;
        font-weight: bold;
        line-height: 1.4;
      }
      th {
        vertical-align: top;
        color: $color-blue;
      }
      td {
        .__current_month {
          display: block;
        }
        .__previous_month {
          display: block;
          font-size: 11px;
          font-weight: normal;
        }
      }
    }
  }
  .__annotation {
    clear: both;
    padding-top: 10px;
    font-size: 77%;
  }

  @include mq-small {
    min-height: 0;
    padding: 20px 20px 10px 20px;
    .__heading {
      width: 40%;
      padding: 20px 18px;
      font-size: 18px;
      box-sizing: border-box;
    }
    .__table {
      width: 50%;
      tr {
        th, td {
          font-size: 14px;
          text-indent: 15px;
        }
      }
    }
  }
}

/**
 * top-entries-other
 */
.top-entries-other {
  margin: 30px -15px;
  @include clearfix;

  @include mq-small {
    margin: 30px 0;
  }
}
.top-entries-other__item {
  float: left;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;

  @include mq-small {
    float: none;
    width: 100%;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.top-entries-other__item__header {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 2px solid $color-black;
  @include clearfix;

  @include mq-small {
    margin-bottom: 0;
  }
}

.top-entries-other__item__header__heading {
  margin-bottom: 4px;
  font-size: 154%;
  font-weight: bold;
  &.__is-immigration:before { @include icon(cat-4-immigration); }
  &.__is-sightseeing:before { @include icon(cat-4-sightseeing); }
  &:before {
    margin-top: 3px;
    margin-right: 6px;
    font-size: 38px;
  }

  @include mq-small {
    font-size: 18px;
    &:before {
      margin-right: 5px;
      font-size: 34px;
    }
  }
}

.top-entries-other__item__header__more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-indent: 10px;
    background-color: #000;
    &:after {
      @include icon(i-arrow-r);
      font-size: 10px;
      margin-left: -4px;
    }
    &:hover {
      opacity: $base-opacity-rate;
    }
  }

  @include mq-small {
    a { padding: 5px 10px; }
  }
}

.top-entries-other__item__list__item {
  a {
    display: block;
    padding: 12px 0;
    color: $color-black;
    text-decoration: none;
    border-bottom: 1px dashed $color-black;
    @include clearfix;
    &:hover { background-color: #F5F5F5; }

    .__image {
      overflow: hidden;
      float: left;
      width: 130px;
      height: 86px;
      padding-right: 15px;
    }
    .__date {
      display: block;
      float: left;
      width: 70%;
    }
    .__title {
      display: block;
      float: left;
      width: 70%;
    }
  }

  @include mq-small {
    a {
      padding: 12px 0;
      .__image {
        width: 30%;
        height: auto;
        padding-right: 15px;
        box-sizing: border-box;
        img {
          width: 100%;
        }
      }
      .__date {
        width: 70%;
      }
      .__title {
        width: 70%;
      }
    }
  }
}

/**
 * top-banners
 */
.top-banners {
  background-color: $base-site-color;
  margin: 30px auto;
}

.top-banners__inner {
  max-width: $base-page-max-width;
  margin: 0 auto;
  padding-bottom: 54px;

  @include mq-small {
    padding-bottom: 12.5px;
  }
}

.top-banners__inner__list {
  margin: 0 -10px;
  @include clearfix;

  @include mq-small {
    margin: 0 7.5px;
  }
}

.top-banners__inner__listItem {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10px 0;
  box-sizing: border-box;
  a {
    &:hover { opacity: $base-opacity-rate; }
  }

  @include mq-small {
    width: 50%;
    padding: 0 2.5px;
    margin: 2.5px 0;
    img { width: 100%; }
  }
}


/**
 * top-banners-2
 */
.top-banners-2 {
  margin: 20px auto;

  @include mq-small {
    margin: 30px 0;
  }
}

.top-banners-2__list {
  margin: 0 -10px;
  text-align: center;

  @include mq-small {
    margin: 0 0px;
  }
}

.top-banners-2__listItem {
  display: inline-block;
  width: 31.4%;
  padding: 0 10px;
  margin: 10px 0;
  box-sizing: border-box;
  a {
    display: block;
    position: relative;
    &:hover { opacity: $base-opacity-rate; }

    span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 0;
      margin: auto 0;
      color: #fff;
      font-size: 24px;
      text-align: center;
      text-indent: -3px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
      line-height: 0;
      letter-spacing: 3px;
      &.__is-immigration:before { @include icon(cat-4-immigration); }
      &.__is-sightseeing:before { @include icon(cat-4-sightseeing); }
      &:before {
        margin-top: 2px;
        margin-right: 7px;
        font-size: 36px;
      }
    }
  }

  @include mq-small {
    margin: 0;
    padding: 0;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
      span {
        font-size: 22px;
        letter-spacing: 0;
        &:before {
          margin-top: 2px;
          margin-right: 7px;
          font-size: 30px;
        }
      }
    }
  }
}
