// ------------------------------
// Float
// ------------------------------

.u-float__l {
  float: left !important;
}

.u-float__r {
  float: right !important;
}

.u-clearboth {
  clear: both !important;
}

.u-clearfix {
  @include clearfix;
}
