// ------------------------------
// Grid system
// ------------------------------

// This Grid colum is 1/12 base.

/**
 * u-grid-row
 */
.u-grid__row {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-right: -15px;
  @include clearfix;

  @include mq-small {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}

/**
 * u-grid-col
 */
@mixin u-grid-col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 25px;
  }

  @include mq-small {
    padding-left: 7.5px;
    padding-right: 7.5px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Variations
.u-grid__col-2 {
  @include u-grid-col;
  width: 16.667%;
}

.u-grid__col-3 {
  @include u-grid-col;
  width: 25%;
  @include mq-small { width: 100%; }
}

.u-grid__col-4 {
  @include u-grid-col;
  width: 33.33%;
}

.u-grid__col-6 {
  @include u-grid-col;
  width: 50%;
  @include mq-small { width: 100%; }
}

.u-grid__col-8 {
  @include u-grid-col;
  width: 66.66%;
}

.u-grid__col-12 {
  @include u-grid-col;
  width: 100%;
}
