// ------------------------------
// Margin CSS
// ------------------------------

/**
 * Margin
 */
.u-mt__0 {
  margin-top: 0 !important;
}
.u-mt__small {
  margin-top: 10px !important;
}

.u-mt__20 {
  margin-top: 20px !important;
}

.u-mt__30 {
  margin-top: 30px !important;
}

.u-mb__0 {
  margin-bottom: 0 !important;
}
