// ------------------------------
// Text color
// ------------------------------

.u-text__blue   { color: $color-blue; }
.u-text__red    { color: $color-red; }
.u-text__orange { color: $color-orange; }
.u-text__black  { color: $color-black; }
.u-text__white  { color: #fff; }
