/**
 *  text alignments
 */
.u-text__left {
  text-align: left !important;
}

.u-text__center {
  text-align: center !important;
}

.u-text__right {
  text-align: right !important;
}

.u-text__justify {
  text-align: justify !important;
}

.u-text__nowrap {
  white-space: nowrap !important;
}
