/**
 *  text transformations
 */
.u-text__lowercase {
  text-transform: lowercase !important;
}

.u-text__uppercase {
  text-transform: uppercase !important;
}

.u-text__capitalize {
  text-transform: capitalize !important;
}
