// ------------------------------
// Container
// ------------------------------

#base-container {
  margin: 0 auto;
  position: relative;
  @include clearfix;

  @include mq-small {
    padding: 0 10px;
    .is-show-navigation-active & { display: none; }
  }
}
