// ------------------------------
// Content
// ------------------------------

#base-content__main {
  float: left;
  width: 72%;

  @include mq-small {
    float: none;
    width: auto;
  }
}

#base-content__side {
  float: right;
  width: 24%;

  @include mq-small {
    float: none;
    width: auto;
  }
}

#base-content__half {
  float: left;
  width: 50%;

  @include mq-small {
    float: none;
    width: auto;
  }
}
