// ------------------------------
// Footer
// ------------------------------

#base-footer {
  margin-top: 50px;
  box-shadow: 0px -1px 1px rgba(138, 138, 138, 0.2);
  width: 100%;
  @include mq-small {
    margin-top: 15px;
    .is-show-navigation-active & {
      margin-top: 0;
      box-shadow: none;
    }
  }
}
