// ------------------------------
// Page
// ------------------------------

#base-page {
  overflow-x: hidden;
  min-width: $base-page-max-width + 40;
  margin: 0 auto;

  @include mq-small {
    min-width: 0;
  }
}
