// ------------------------------
// Breadcrumb
// ------------------------------

.p-breadcrumb {
  max-width: $base-page-max-width;
  margin: 10px auto;
}

.p-breadcrumb__item {
  display: inline-block;
  font-size: 93%;
  color: $base-site-color;
  &:not(:last-child):after {
    content: ">";
    margin: 0 3px 0 8px;
    color: #595757;
  }
  a {
    color: #595757;
  }
}
