// ------------------------------
// Calender
// ------------------------------

.p-calender {
  padding-right: 30px;

  @include mq-small {
    padding-right: 0;
  }
}

/**
 * categories
 */
.p-calender__categories {
  padding: 15px 15px 12px;
  border-radius: 4px;
  background-color: #eeeef0;
}

.p-calender__category {
  display: inline-block;
  margin-bottom: 3px;
  padding: 1px 10px;
  font-size: 13px;
  border-radius: 2px;
  background-color: #ccc;
  cursor: pointer;
  opacity: 0.6;

  &[data-category = 'town'] { background-color: #0077ef; }
  &[data-category = 'festival'] { background-color: #ecc802; }
  &[data-category = 'around'] { background-color: #ef8180; }

  &.__is-active {
    opacity: 1;
  }
}


#p-clndr {

  /**
   * controls
   */
  .controls {
    font-size: 0;
    .month {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 70%;
      font-size: 38px;
      font-family: $font-mincho;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
      cursor: pointer;
      &:hover {
        opacity: $base-opacity-rate;
      }
    }
    .clndr-previous-button,
    .clndr-next-button {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 15%;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
  }

  /**
   * days
   */
  .days {
    background-color: #ebebeb;

    .headers {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #97ce7f;
      .day-header {
        display: inline-block;
        width: 14.28%;
        color: white;
        font-size: 16px;
        text-align: center;
      }
    }
    .day {
      display: inline-block;
      width: 14.28%;
      padding-top: 8px;
      padding-bottom: 4px;
      color: #212121;
      font-size: 12px;
      text-align: center;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      .day-date {
        display: block;
        padding-bottom: 4px;
        font-size: 16px;
        font-weight: bold;
      }
      .day-tag {
        display: inline-block;
        visibility: hidden;
        padding: 2px;
        color: #fff;
        font-size: 12px;
        line-height: 1;
      }
      &.town .day-tag.__town { visibility: visible; background-color: #0077ef; }
      &.festival .day-tag.__festival { visibility: visible; background-color: #ecc802; }
      &.around .day-tag.__around { visibility: visible; background-color: #ef8180; }

      &.calendar-dow-0 {
        background-color: #FFDDDD;
      }
      &.calendar-dow-6 {
        background-color: #DBE9FF;
      }
      &.adjacent-month {
        color: rgba(0, 0, 0, 0.3);
      }
      &:hover {
        background-color: #FFE9C0;
      }
      &.today {
        background-color: #FFDAB3;
      }
      &.is-active {
        background-color: #FFE9C0;
      }
    }
  }

}










