// ------------------------------
// Content header
// ------------------------------

.p-content-header {
  overflow: hidden;
  position: relative;
  width: auto;
  height: 160px;
  margin: 0 auto 10px;
  background-color: #eeeeef;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-width: 1600px;
    min-height: 160px;
  }

  @include mq-small {
    margin: 0 -15px;
  }
}

.p-content-header__heading {
  position: relative;
  display: table;
  z-index: 1;
  max-width: $base-page-max-width;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  .__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 215%;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px #fff;
    line-height: 1.3;
  }

  @include mq-small {
    .__text {
      font-size: 24px;
    }
  }
}
