/**
 * container
 */

@mixin container {
  width: 100%;
  max-width: $base-page-max-width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  clear: both;
  @include clearfix;

  @include mq-small {
    padding: 0;
  }
}

@mixin auto-margin-paragraph {
  p {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

// Use .container for a responsive fixed width container.
.p-container {
  @include container;
}

.p-container__auto-margin-paragraph {
  @include container;
  @include auto-margin-paragraph;
}

.p-container__full {
  @include container;
  padding: 0 50px;
}

.p-container__full__auto-margin-paragraph {
  @include container;
  @include auto-margin-paragraph;
  padding: 0 50px;
}

// Use .container-fluid for a full width container, spanning the entire width of your viewport.
.p-container__fluid {
  width: 100%;
  box-sizing: border-box;

  @include mq-small {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
  }
}
