// ------------------------------
// Entry
// ------------------------------

.p-entry-event {
  margin: 30px 0;
}

/**
 * p-entry-event-header
 */
.p-entry-event__header {
  margin-bottom: 20px;
  padding: 0 0 13px 0;
  border-bottom: 2px solid #ededed;
}

/**
 * p-entry-event-header-heading
 */
@mixin p-entry-event-header-heading {
  position: relative;
  margin: 0 0 13px 0;
  padding: 6px 30px;
  font-size: 230%;
  font-family: $font-mincho;
  text-align: center;

  @include mq-small {
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.p-entry-event__header__heading {
  @include p-entry-event-header-heading;
  border-bottom: 2px solid $color-black;
  &:before,
  &:after {
    content: "●";
    position: absolute;
    bottom: -0.8px;
    font-size: 12px;
    height: 0px;
    line-height: 0;
  }
  &:before { left: -2px; }
  &:after  { right: -2px; }
}

.p-entry-event__header__heading-2 {
  @include p-entry-event-header-heading;
  border-top: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  &:before,
  &:after {
    content: ":";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 34px;
    height: 34px;
    line-height: 0.8;
  }
  &:before { left: 0; }
  &:after  { right: 0; }
}

.p-entry-event__header__data {
  padding: 0 15px;
  text-align: right;
}

.p-entry-event__header__data__tag-list {
  display: inline-block;
  margin: 0 2px;
}

.p-entry-event__header__data__tag-list__item {
  display: inline-block;
  a {
    display: block;
    min-width: 45px;
    margin: 0 2px;
    padding: 0px 10px;
    color: inherit;
    font-size: 85%;
    text-align: center;
    text-decoration: none;
    background-color: #ece2e2;
    &:hover {
      opacity: $base-opacity-rate;
    }
    &.__is-job { background-color: $color-job; }
    &.__is-life { background-color: $color-life; }
    &.__is-nature { background-color: $color-nature; }
  }
}

.p-entry-event__header__data__date {
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
}

/**
 * p-entry-event__image
 */
.p-entry-event__image {
  overflow: hidden;
  position: relative;
  max-height: 450px;
  @include mq-small {
    max-height: 200px;
  }
}

.p-entry-event__image__gellery {
  background-color: #F9F3F3;

  .__is-slide & {
    li {
      cursor: move;
      img { margin: auto; }
    }
  }
}

.p-entry-event__image__thumbs {
  visibility: hidden;
  .__is-slide & {
    visibility: visible;
    position: absolute;
    bottom: 15px;
    right: 15px;
    li {
      float: left;
      margin-left: 10px;
      border: 2px solid #fff;
      cursor: pointer;
      &.__is-active {
        border-color: $color-blue;
      }
      img {
        height: 40px;
      }
    }
  }
}

/**
 * p-entry-event__table
 */
.p-entry-event__table {
  margin: 25px 0;
  tr {
    th {
      vertical-align: top;
      width: 130px;
      font-size: 100% !important;
      text-align: left;
    }
    td {
      text-align: left;
    }
  }

  @include mq-small {
  tr {
    th {
      width: 110px;
    }
  }
  }
}

/**
 * p-entry-event__map
 */
.p-entry-event__map {
  margin: 25px 0;
  #__map {
    height: 360px;
    background-color: #ccc;
  }

  @include mq-small {
    #__map {
      height: 200px;
    }
  }
}

/**
 * p-entry-event-footer
 */
.p-entry-event__footer {
  margin: 20px 0 0 0;
  padding: 0 0 18px 0;
  text-align: right;
  border-bottom: 2px solid $color-black;

  .fb-like {
    height: 22px;
  }
}
