// ------------------------------
// Entries Around
// ------------------------------

.p-entries-around {
  position: relative;
  min-height: 202px;
  margin: 60px 0;
  text-align: center;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 1px;
    margin: 0 auto;
    background-color: #e4e5e5;
  }

  @include mq-small {
    min-height: 0;
  }
}

/**
 * p-entries-around__item
 */
@mixin p-entries-around__item {
  float: left;
  vertical-align: top;
  width: 50%;

  a {
    position: relative;
    z-index: 1;
    display: block;
    padding: 25px 0;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;

    &:before {
      position: absolute;
      top: 101px;
      color: $color-blue;
      font-size: 14px;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      width: 67px;
      height: 202px;
      background: no-repeat center;
      background-size: 100%;
    }
    &:hover {
      img {
        opacity: $base-opacity-rate;
      }
    }
  }
  img {
    margin-bottom: 4px;
  }
  span {
    display: block;
    font-size: 108%;
    font-weight: bold;
  }

  @include mq-small {
    a {
      padding: 15px 0;
      &:after { display: none; }
    }
    span {
      font-size: 13px;
    }
  }
}

.p-entries-around__item__prev {
  @include p-entries-around__item;
  text-align: right;
  a {
    padding-right: 45px;
    &:before {
      @include icon(i-arrow-l);
      left: 50px;
    }
    &:after {
      left: 0;
      background-image: url('/resources/img/common/arrow-l-2.png');
    }
  }

  @include mq-small {
    a {
      padding-right: 15px;
    }
  }
}

.p-entries-around__item__next {
  @include p-entries-around__item;
  text-align: left;
  a {
    padding-left: 45px;
    &:before {
      @include icon(i-arrow-r);
      right: 50px;
    }
    &:after {
      right: 0;
      background-image: url('/resources/img/common/arrow-r-2.png');
    }
  }
  @include mq-small {
    a {
      padding-left: 15px;
    }
  }
}

