// ------------------------------
// Bnak-entries
// ------------------------------

/**
 * p-bank-map
 */
.p-bank-map {
  margin: 30px auto;
  height: 360px;
  width: 100%;
  background-color: #efefef;
  @include mq-small {
    display: none;
  }
}

/**
 * p-bank-categories
 */
.p-bank-categories {
  margin: 30px 0;
  padding: 15px 15px 0;
  background-color: #efefef;
  border-radius: 4px;
  @include mq-small {
    margin: 20px 0;
    padding: 10px 10px 0;
  }
}

.p-bank-categories__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
  .__icon {
    margin-right: 6px;
    padding: 5px 7px;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    border-radius: 4px;
    &.__is-selling { background-color: #e94b46; }
    &.__is-rental { background-color: #f29300; }
    &.__is-municipal { background-color: #89c349; }
    &.__is-lodging { background-color: #319041; }
    &.__is-tenants-in { background-color: #e50058; }
    &.__is-no-category { background-color: #efefef; }
  }
  .__text {
    font-size: 13px;
  }

  @include mq-small {
    margin-right: 10px;
    margin-bottom: 10px;
    .__icon {
      margin-right: 5px;
      padding: 4px 6px;
      font-size: 13px;
    }
  }
}

/**
 * p-entries-bank
 */
.p-entries-bank {
}

.p-entries-bank__item {
  margin: 20px 0;
  @include clearfix;
}

.p-entries-bank__item__detail {
  float: right;
  width: 63%;
  @include mq-small {
    float: none;
    width: 100%;
  }

  .__item-text {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #efefef;
    @include clearfix;
    dt {
      float: left;
      width: 15%;
      font-weight: bold;
    }
    dd {
      float: left;
      width: 85%;
    }
  }


  .__contact {
    margin: 20px 0;
  }
  .__contact__heading {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 15px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #efefef;
  }
  .__contact__text {
    font-size: 13px;
    line-height: 1.5;
    strong { font-size: 14px; }
  }
}

.p-entries-bank__item__detail__heading {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #fef36f;
  .__heading {
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 1.4;
  }
  .__categories {
  }
  .__categories__icon {
    display: inline-block;
    margin-right: 6px;
    padding: 5px 7px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    &.__is-selling { background-color: #e94b46; }
    &.__is-rental { background-color: #f29300; }
    &.__is-municipal { background-color: #89c349; }
    &.__is-lodging { background-color: #319041; }
    &.__is-tenants-in { background-color: #e50058; }
    &.__is-no-category { background-color: #efefef; }
  }
}

.p-entries-bank__item__image {
  float: left;
  width: 34%;

  .__list {
    margin: -1%;
    @include clearfix;
  }
  .__listItem {
    float: left;
    margin: 1%;
    width: 48%;
    &:first-child {
      width: 98%;
    }
    a {
      &:hover { opacity: $base-opacity-rate; }
    }
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
  @include mq-small {
    position: relative;
    overflow: hidden;
    float: none;
    width: 100%;
    border-radius: 4px;

    .__list {
      position: relative;
      overflow: hidden;
      margin: 0;
      border-radius: 4px;
      &.__no-gallery {
        display: none;
      }
    }
    .__listItem {
      margin: 0;
      width: 100%;
      &:first-child { width: 100%; }

      a {
        &:hover { opacity: 1; }
      }
      img {
        display: block;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

.p-entries-bank__item__pagetop {
  clear: both;
  padding-top: 15px;
  font-size: 13px;
  text-align: right;
}
