// ------------------------------
// Entries Event
// ------------------------------

.p-entries-event {
  padding: 20px;
  background-color: #f6f4ed;

  @include mq-small {
    padding: 15px;
  }
}

.p-entries-event__heading {
  position: relative;
  margin: 0 !important;
  padding: 4px 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-indent: 1px;
  letter-spacing: 1px;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  background-color: #fff;

  &:before,
  &:after {
    content: ":";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 24px;
    height: 24px;
    line-height: 0.8;
  }
  &:before { left: 2px; }
  &:after  { right: 2px; }
}

.p-entries-event__listItem {
  border-bottom: 1px dashed $color-black;
  a {
    position: relative;
    display: block;
    padding: 20px 0;
    color: $color-black;
    text-decoration: none;
    @include clearfix;

    &:hover {
      img { opacity: $base-opacity-rate; }
    }
  }
}

.p-entries-event__listItem__image {
  position: absolute;
  width: 100px;
  height: 100px;
  img {
    border: 4px solid #ccc;
    box-sizing: border-box;
    .town & { border-color: #0077ef; }
    .festival & { border-color: #ecc802; }
    .around & { border-color: #ef8180; }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    color: #fff;
    font-size: 11px;
    border-top: 15px solid #0077ef;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0077ef;

    .town & {
      border-left-color: #0077ef;
      border-top-color: #0077ef;
    }
    .festival & {
      border-left-color: #ecc802;
      border-top-color: #ecc802;
    }
    .around & {
      border-left-color: #ef8180;
      border-top-color: #ef8180;
    }
  }
  &:after {
    display: block;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 1;

    .town & {
      content: "町";
    }
    .festival & {
      content: "祭";
    }
    .around & {
      content: "周";
    }
  }

}

.p-entries-event__listItem__detail {
  margin-top: -2px;
  padding: 0 0 0 120px;

  .__heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.38;
  }
  .__tag {
    padding: 1px 10px;
    font-size: 12px;
    border-radius: 2px;
    background-color: #ccc;
    .town & { background-color: #0077ef; }
    .festival & { background-color: #ecc802; }
    .around & { background-color: #ef8180; }
  }
  .__date {
    font-size: 13px;
  }
  .__text {
    font-size: 13px;
    line-height: 1.6;
  }
}

.p-entries-event__alert {
  margin: 20px 0 0;
  text-align: center;
}
