// ------------------------------
// Relation-entries
// ------------------------------

.p-entries-relation {
  margin: 60px 0;
}

/**
 * p-entries-relation-header
 */
.p-entries-relation__header {
  position: relative;
  border-bottom: 2px solid $color-black;
  @include clearfix;
}

.p-entries-relation__header__heading {
  margin-bottom: 4px;
  font-size: 154%;
  font-weight: bold;
  &:before {
    content: "●";
    margin-right: 4px;
  }
}

.p-entries-relation__header__more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-indent: 10px;
    background-color: #000;
    &:after {
      @include icon(i-arrow-r);
      font-size: 10px;
      margin-left: -4px;
    }
    &:hover {
      opacity: $base-opacity-rate;
    }
  }
}

/**
 * p-entries-relation-list
 */
.p-entries-relation__list {
}

.p-entries-relation__list__item {
  padding: 12px 15px;
  color: #595757;
  border-bottom: 1px solid #e4e5e5;
  &:before {
    content: "●";
    margin-right: 4px;
  }
  &:hover { background-color: #F5F5F5; }

  .__title {
    margin-right: 15px;
    color: inherit;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  .__tag {
    margin-right: 15px;
    a {
      display: inline-block;
      min-width: 45px;
      padding: 0px 8px;
      color: $color-black;
      font-size: 85%;
      text-align: center;
      text-decoration: none;
      background-color: #ece2e2;
      &:hover {
        opacity: $base-opacity-rate;
      }
      &.__is-job { background-color: $color-job; }
      &.__is-life { background-color: $color-life; }
      &.__is-nature { background-color: $color-nature; }
    }
  }
  .__date {
    font-size: 93%;
    letter-spacing: 1px;
  }

  @include mq-small {
    &:before { display: none; }
    .__title {
      display: block;
      margin-bottom: 4px;
    }
  }
}
