// ------------------------------
// Relation-entries
// ------------------------------

/**
 * entries-recently
 */
.entries-recently {
  margin: 20px auto 40px;
}

.entries-recently__header {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 2px solid $color-black;
  @include clearfix;
}

.entries-recently__header__heading {
  margin-bottom: 4px;
  font-size: 154%;
  font-weight: bold;
  &:before {
    @include icon(cat-3-info);
    margin-right: 3px;
    font-size: 30px;
  }

  .__tag {
    position: relative;
    top: -0.1em;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 0;
    margin-right: 10px;
    font-size: 18px;
    letter-spacing: 8px;
    text-indent: 8px;
    line-height: 1;
    border: 1px solid $color-black;
  }

  @include mq-small {
    font-size: 18px;
    &:before {
      margin-right: 5px;
      font-size: 34px;
    }
  }
}

.entries-recently__list__item {
  padding: 12px 0;
  color: $color-black;
  border-bottom: 1px dashed $color-black;
  &:hover { background-color: #F5F5F5; }

  .__tag {
    margin-right: 10px;
    a {
      display: inline-block;
      min-width: 100px;
      padding: 1px 8px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      line-height: 1.6;
      background-color: #014195;
      &:hover {
        opacity: $base-opacity-rate;
      }

      &.__is-life { background-color: $color-life; }
      &.__is-gyosei { background-color: $color-gyosei; }
      &.__is-bosai { background-color: $color-bosai; }
      &.__is-event { background-color: $color-event; }
      &.__is-koho { background-color: $color-koho; }
      &.__is-gikai { background-color: $color-gikai; }
      &.__is-saiyo { background-color: $color-saiyo; }
      &.__is-other { background-color: $color-other; }
    }
  }
  .__title {
    color: inherit;
    text-decoration: none;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      height: 18px;
      margin: 0 10px;
      background-color: $color-black;
    }
    &:hover { text-decoration: underline; }
  }

  @include mq-small {
    padding: 10px 0;
    .__tag {
      margin-right: 10px;
      a { font-size: 85%; }
    }
    .__title {
      display: block;
      margin-top: 5px;
      &:before { display: none; }
    }
  }
}
