// ------------------------------
// Entry Hassin Sobetsu
// ------------------------------

.p-entry-hassin {
  position: relative;
  margin: 20px 0 30px 0;
  padding: 0 0 20px 0;
  min-height: 210px;
  border-bottom: 2px solid $color-black;
  @include clearfix;

  @include mq-small {
    min-height: 0px;
  }
}

.p-entry-hassin__detail {
  padding-left: 220px;

  @include mq-small {
    padding-left: 0;
  }
}

/**
 * p-entry-hassin-header
 */
.p-entry-hassin__header {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ededed;
}

/**
 * p-entry-hassin__header__date
 */
.p-entry-hassin__header__date {
  font-size: 93%;
  font-weight: bold;
}

/**
 * p-entry-hassin-header-heading
 */
.p-entry-hassin__header__heading {
  margin: 0;
  font-size: 139%;
  line-height: 1.44;
}

/**
 * p-entry-hassin__thumb
 */
.p-entry-hassin__thumb {
  position: absolute;
  top: 5px;
  left: 0;
  width: 300px;

  @include mq-small {
    position: static;
    width: 100px;
    float: left;
    margin: 0 15px 10px 0;
  }
}

/**
 * p-entry-hassin-body
 */
.p-entry-hassin__body {
}
