// ------------------------------
// Entry
// ------------------------------

.p-entry {
  margin: 30px 0 60px 0;
}

/**
 * p-entry-header
 */
.p-entry__header {
  margin-bottom: 20px;
  padding: 0 0 13px 0;
  border-bottom: 2px solid #ededed;
}

/**
 * p-entry-header-heading
 */
@mixin p-entry-header-heading {
  position: relative;
  margin: 0 0 13px 0;
  padding: 6px 30px;
  font-size: 230%;
  font-family: $font-mincho;
  text-align: center;

  @include mq-small {
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.p-entry__header__heading {
  @include p-entry-header-heading;
  border-bottom: 2px solid $color-black;
  &:before,
  &:after {
    content: "●";
    position: absolute;
    bottom: -0.8px;
    font-size: 12px;
    height: 0px;
    line-height: 0;
  }
  &:before { left: -2px; }
  &:after  { right: -2px; }
}

.p-entry__header__heading-2 {
  @include p-entry-header-heading;
  border-top: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  &:before,
  &:after {
    content: ":";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 34px;
    height: 34px;
    line-height: 0.8;
  }
  &:before { left: 0; }
  &:after  { right: 0; }
}

.p-entry__header__data {
  padding: 0 15px;
  text-align: right;
}

.p-entry__header__data__tag-list {
  display: inline-block;
  margin: 0 2px;
}

.p-entry__header__data__tag-list__item {
  display: inline-block;
  a {
    display: block;
    min-width: 45px;
    margin: 0 2px;
    padding: 0px 10px;
    color: #fff;
    font-size: 85%;
    text-align: center;
    text-decoration: none;
    background-color: #ece2e2;
    &:hover {
      opacity: $base-opacity-rate;
    }
//    &.__is-job { background-color: $color-job; }
//    &.__is-life { background-color: $color-life; }
//    &.__is-nature { background-color: $color-nature; }

    &.__is-life { background-color: $color-life; }
    &.__is-gyosei { background-color: $color-gyosei; }
    &.__is-bosai { background-color: $color-bosai; }
    &.__is-event { background-color: $color-event; }
    &.__is-koho { background-color: $color-koho; }
    &.__is-gikai { background-color: $color-gikai; }
    &.__is-saiyo { background-color: $color-saiyo; }
    &.__is-other { background-color: $color-other; }
  }
}

.p-entry__header__data__date {
  display: inline-block;
  font-size: 93%;
  font-weight: bold;
}

/**
 * p-entry-body
 */
.p-entry__body {
}

/**
 * p-entry-footer
 */
.p-entry__footer {
  margin: 40px 0 0 0;
  padding: 0 0 18px 0;
  text-align: right;
  border-bottom: 2px solid $color-black;

  .fb-like {
    height: 22px;
  }
}
