// ------------------------------
// Entries Side
// ------------------------------

.p-entries-side {
  padding: 20px;
  background-color: #f6f4ed;

  @include mq-small {
    padding: 15px;
  }
}

.p-entries-side__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include mq-small {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.p-entries-side__item__heading {
  position: relative;
  margin: 0 !important;
  padding: 4px 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-indent: 1px;
  letter-spacing: 1px;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  background-color: #fff;

  &:before,
  &:after {
    content: ":";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 24px;
    height: 24px;
    line-height: 0.8;
  }
  &:before { left: 2px; }
  &:after  { right: 2px; }
}


@mixin p-entries-side-item-list {
  counter-reset: listnum;
  li {
    border-bottom: 1px dashed $color-black;
    a {
      display: block;
      padding: 10px 5px 10px;
      color: $color-black;
      font-size: 108%;
      text-decoration: none;
      line-height: 1.4;

      &:hover {
        color: $base-link-color;
        img { opacity: $base-opacity-rate; }
      }
    }
  }
}

.p-entries-side__item__list {
  @include p-entries-side-item-list;
  li {
    a {
      &:before {
        counter-increment: listnum;
        content: counter(listnum);
        margin-right: 5px;
      }
    }
  }
}

.p-entries-side__item__list__thum {
  @include p-entries-side-item-list;
  li {
    a {
      padding: 10px 0;
      @include clearfix;

      img {
        float: left;
        margin-right: 10px;
      }
      span {
        &:before {
          counter-increment: listnum;
          content: counter(listnum);
          display: block;
        }
      }
    }
  }
}

.p-entries-side__item__list__monthly {
  li {
    border-bottom: 1px dashed $color-black;
    dt {
      color: $color-blue;
      font-weight: bold;
      &:before {
        @include icon('i-arrow-r');
        margin-right: 4px;
        font-size: 10px;
      }
    }
    dd {
      display: inline-block;
      a {
        color: $color-black;
        line-height: 1.4;
        &:hover { color: $base-link-color; }
      }
    }
  }
}

.p-entries-side__item__list__category {
  li {
    padding: 10px 0;
    border-bottom: 1px dashed $color-black;
    a {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $base-link-color;
        text-decoration: underline;
      }
      &:before {
        @include icon('i-arrow-r');
        margin-right: 4px;
        color: $base-link-color;
        font-size: 10px;
      }
    }
  }
}
