// ------------------------------
// Footer CSS
// ------------------------------

.p-footer {
  max-width: $base-page-max-width;
  margin: 0 auto;
  padding: 20px 30px;
  @include clearfix;

  @include mq-small {
    padding: 15px;
  }
}

/**
 * p-footer-logo
 */
.p-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;

  a {
    &:hover {
      opacity: $base-opacity-rate;
    }
  }

  @include mq-small {
    display: block;
    margin: 0 0 10px -15px;
    text-align: center;
  }
}

/**
 * p-footer-contact
 */
.p-footer__contact {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 0;

  @include mq-small {
    display: block;
    text-align: center;
  }
}

.p-footer__contact__address {
  font-size: 93%;

  @include mq-small {
    display: block;
    margin: 0 0 4px 0;
    text-align: center;
  }
}

.p-footer__contact__number {
  font-size: 93%;

  span {
    margin-right: 10px;
    &.p-footer__number__tel,
    &.p-footer__number__fax {
      letter-spacing: 1px;
      text-indent: 1px;
    }
    &.p-footer__number__access {
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @include mq-small {
    span {
      &.p-footer__number__tel,
      &.p-footer__number__fax {
        margin: 0 8px 4px 0;
        letter-spacing: 0;
        text-indent: 0;
      }
      &.p-footer__number__access {
        display: block;
        margin: 6px 0 4px 0;
      }
    }
  }
}

/**
 * p-footer-nav-list
 */
.p-footer__nav-list {
  float: right;
  margin: 5px 0 0 0;

  @include mq-small {
    float: none;
    margin: 10px 0;
    text-align: center;
  }
}

.p-footer__nav-list__item {
  display: inline-block;
  font-size: 108%;
  &:not(:last-child):after {
    content: "｜";
  }
  a {
    color: $color-black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @include mq-small {
    font-size: 12px;
  }
}

/**
 * p-footer-copyright
 */
.p-footer__copyright {
  float: right;
  font-size: 85%;
  letter-spacing: 1px;

  @include mq-small {
    float: none;
    text-align: center;
    font-size: 10px;
  }
}
