// ------------------------------
// Form
// ------------------------------

.p-form {
  margin: 30px 0;
}

.p-form-table {
  width: 100%;
  color: #595757;
  border-top: 2px solid #e2e0e1;
  background-color: #faf9fa;

  th, td {
    vertical-align: top;
    padding: 20px 30px;
    text-align: left;
    border-bottom: 2px solid #e2e0e1;
  }
  th {
    width: 25%;
    padding-left: 45px;
    text-indent: -15px;
    border-right: 2px dotted #e2e0e1;
    white-space: nowrap;
    &:before {
      content: "■";
      margin-right: 2px;
    }

    &.__must {
      &:after {
        content: "※必須";
        margin-left: 10px;
        color: #e95513;
      }
    }
  }

  @include mq-small {
    th, td {
      padding: 15px 15px;
      font-size: 12px;
    }
    th {
      width: 80px;
      text-indent: 0;
      white-space: normal;
      &:before { display: none; }

      &.__must {
        &:after {
          display: block;
          margin-left: 0;
        }
      }

      br { display: none; }
    }
  }
}

/**
 * p-form-step
 */
.p-form-step {
  margin: 0 0 1px 0;
  padding: 25px 0 30px;
  border-top: 4px solid #cac7c8;
  border-bottom: 2px solid #cac7c8;

  @include mq-small {
    padding: 15px 0 20px;
  }
}

.p-form-step-list {
  text-align: center;
  @include clearfix;
}

.p-form-step-list-item {
  position: relative;
  float: left;
  width: 33.33%;
  color: #888;

  &:not(:last-child):after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -26px;
    width: 26px;
    height: 53px;
    margin: auto 0;
    background: url('/resources/img/common/arrow-r-1.png') no-repeat center;
    background-size: 100%;
  }

  &.is-active {
    color: $color-blue;
  }

  @include mq-small {
    width: 33.3%;
    &:not(:last-child):after {
      right: -7px;
      width: 7px;
      height: 13px;
    }
  }
}

.p-form-step-item-heading {
  display: block;

  .__num {
    margin-left: 4px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
  }

  @include mq-small {
    margin-bottom: 4px;
    font-size: 13px;
    .__num {
      font-size: 22px;
    }
  }
}

.p-form-step-item-label {
  display: inline-block;
  padding: 1px 15px;
  font-size: 116%;
  font-weight: bold;
  text-indent: 1px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  .is-active & {
    border-color: $color-blue;
  }

  br { display: none; }

  @include mq-small {
    padding: 2px 5px;
    font-size: 11px;
    text-indent: 0;
    letter-spacing: 0;
    line-height: 1.3;
    br { display: block; }
  }
}
