// ------------------------------
// Header CSS
// ------------------------------


.p-header {
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(138, 138, 138, 0.2);

  @include mq-small {
    // p-header-top-inner が Fixed で高さがないため、上部余白を設ける
    /* &:before {
      content: "";
      display: block;
      height: 70px;
    } */
  }
}

.p-header__inner {
  position: relative;
  z-index: 4;
  max-width: $base-page-max-width;
  margin: 0 auto;
  width: 100%;
}

.p-header__top-inner {
  position: relative;
  padding: 11px 0;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: -50%;
    width: 200%;
    height: 1px;
    box-shadow: 0px 1px 1px rgba(138, 138, 138, 0.4);
  }

  @include mq-small {
    //position: fixed;
    //z-index: 10;
    //top: 0;
    padding: 0;
    width: 100%;
    min-height: 66px;
    background-color: #fff;
  }
}

/**
 * p-header-top-inner-logo
 */
.p-header__top-inner__logo {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 25px 0 0;

  a:hover {
    opacity: $base-opacity-rate;
  }

  @include mq-small {
    min-height: 46px;
    padding: 10px;
    margin: 0;
    width: 180px;
  }
}

.p-header__top-inner__menu-btn {
  display: none;

  @include mq-small {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 50px;
    height: 46px;
    background-color: $color-blue;
    cursor: pointer;
    user-select: none;
    &:after {
      content: "メニュー";
      display: block;
      position: absolute;
      bottom: 10px;
      width: 100%;
      height: 0;
      color: #fff;
      font-size: 10px;
      text-align: center;
      line-height: 0;
      letter-spacing: -1px;
    }

    span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 6px;
      width: 38px;
      height: 4px;
      background-color: #fff;
      border-radius: 1px;
      &:nth-of-type(1) { top: 6px; }
      &:nth-of-type(2) { top: 15px; }
      &:nth-of-type(3) { top: 24px; }
    }
    &.__is-active {
      span {
        &:nth-of-type(1) { transform: translateY(5px); opacity: 0; }
        &:nth-of-type(3) { transform: translateY(-5px); opacity: 0; }
      }
    }
  }
}

.p-header__controlls {
  @include mq-small {
    display: none;
    .is-show-navigation-active & { display: block; }
  }
}

.p-header__controlls__inner {
  @include mq-small {
    position: static;
    padding: 15px;
  }
}


/**
 * p-header-top-inner-link
 */
.p-header__link {
  position: absolute;
  top: 22px;
  left: 328px;
  font-size: 0;

  li {
    display: inline-block;
    font-size: 12px;
    &:not(:last-child):after {
      content: "｜";
      margin: 0 5px;
      color: $color-black;
    }
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mq-small {
    position: static;
    display: block;
    margin: 15px 0;
    li {
      display: block;
      margin: 10px 0;
      width: 100%;
      font-size: 12px;
      &:not(:last-child):after {
        display: none;
      }
      a {
        display: block;
        width: 100%;
        padding: 7px 10px;
        color: #fff;
        text-align: center;
        text-indent: 10px;
        background-color: #000;
        box-sizing: border-box;
        &:after {
          @include icon(i-arrow-r);
          font-size: 10px;
          margin-left: -4px;
        }
        &:hover {
          text-decoration: none;
          opacity: $base-opacity-rate;
        }
      }
    }
  }
}

/**
 * p-header-search
 */
.p-header__search {
  position: absolute;
  top: 18px;
  left: 530px;
  overflow: hidden;
  width: 120px;
  font-size: 13px;
  input {
    width: 116px;
    padding: 2px 10px;
  }

  @include mq-small {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0 0 15px 0;
    width: auto;
    input {
      display: block;
      width: 100%;
      padding: 5px 10px !important;
    }
  }
}

.p-header__search__btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 26px;
  height: 100%;
  appearance: none;
  border: none;
  background-color: $color-black;
  &:after {
    @include icon(cat-3-search);
    color: #fff;
    font-size: 18px;
    margin-top: 1px;
    text-indent: -1px;
  }
  &:hover { opacity: $base-opacity-rate; }

  @include mq-small {
    width: 40px;
  }
}

/**
 * p-header-font-btns
 */
.p-header__font-btns {
  position: absolute;
  top: 19px;
  left: 660px;
  font-size: 0;

  @include mq-small {
    display: none;
  }
}

.p-header__font-btns__heading {
  display: inline-block;
  font-size: 10px;
  margin: 0 5px 0 0;
}

.p-header__font-btns__list {
  display: inline-block;
}

.p-header__font-btns__list__item {
  display: inline-block;
  margin: 0 1px;
  padding: 2px 5px;
  color: #fff;
  text-align: center;
  text-indent: 2px;
  font-size: 11px;
  letter-spacing: 2px;
  border-radius: 3px;
  background-color: $color-black;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: $base-opacity-rate;
  }
  &.__is-active {
    background-color: $color-blue;
  }
}

/**
 * p-header-sns-btns
 */
.p-header__sns-btns {
  position: absolute;
  top: 19px;
  left: 800px;

  @include mq-small {
    position: static;
    display: block;
  }
}

.p-header__sns-btns__list {
  font-size: 0;

  @include mq-small {
    margin: 0 -7.5px;
  }
}

.p-header__sns-btns__list__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;

  a {
    position: relative;
    font-size: 20px;
    &:hover {
      opacity: $base-opacity-rate;
    }
    &:after {
      vertical-align: top !important;
      top: 0 !important;
      line-height: 1.0 !important;
    }
    &.__facebook:after {
      @include icon(i-facebook);
      color: #325094;
    }
    &.__email:after {
      @include icon(i-email);
      color: #c9caca;
    }

    span {
      display: none;
    }
  }

  @include mq-small {
    display: inline-block;
    vertical-align: top;
    //width: 50%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 7.5px;
    box-sizing: border-box;

    a {
      display: block;
      width: 100%;
      padding: 5px 10px;
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      box-sizing: border-box;
      &.__facebook {
        background-color: #325094;
      }
      &.__email {
        background-color: #9E9E9E;
      }
      &:after {
        color: #fff !important;
        position: absolute !important;
        vertical-align: top !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 10px;
        height: 20px;
        margin: auto 0;
        line-height: $base-line-height !important;
      }
      span {
        display: block;
      }
    }
  }
}

/**
 * p-header-contact
 */
.p-header__contact {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 10px 4px;
  text-align: center;
  border-bottom: 1px solid #c9caca;
  background-color: #e5e5e6;

  @include mq-small {
    position: relative;
    margin: 15px 0;
    padding: 15px;
  }
}

.p-header__contact__text__tel {
  display: block;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 2px;
  &:before {
    @include icon(i-tel);
    margin-right: 4px;
    color: $color-black;
  }

  @include mq-small {
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 0;
  }
}

.p-header__contact__text__limit {
  display: block;
  margin-bottom: 2px;
  font-size: 10px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  @include mq-small {
    font-size: 12px;
  }
}

.p-header__contact__text__email {
  a {
    display: block;
    position: relative;
    padding: 2px 4px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    background-color: $color-black;
    letter-spacing: 1px;
    line-height: 1.5;
    &:before {
      @include icon(i-email);
      //top: 0;
      margin-right: 6px;
      color: #fff;
      line-height: 0;
    }
    &:hover {
      opacity: $base-opacity-rate;
    }
  }
  @include mq-small {
    margin-bottom: 5px;
    a {
      padding: 8px;
      font-size: 14px;
    }
  }
}

/**
 * p-header-nav
 */
.p-header__nav {
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: -50%;
    width: 200%;
    height: 100%;
    background-color: #f7f7f7;
  }

  @include mq-small {
    box-shadow: none;
  }
}

.p-header__nav__list {
  position: relative;
  z-index: 2;
  max-width: $base-page-max-width;
  margin: 0 auto;
  @include clearfix;
}

.p-header__nav__list__item {
  float: left;
  width: 16.66%;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;

  a {
    position: relative;
    display: block;
    padding: 25px 0 20px;
    color: $color-black;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    text-indent: 1px;
    border-bottom: 6px solid $color-black;
    background-color:#fff;
    &:hover,
    .page-home    &.__is-home,
    .page-about   &.__is-about,
    .page-kurashi &.__is-kurashi,
    .page-chosei  &.__is-chosei,
    .page-kokyo   &.__is-kokyo,
    .page-anzen   &.__is-anzen {
      color: $base-link-color;
      font-weight: bold;
      border-bottom-color: $base-site-color;
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 0;
        width: 0;
        margin: 0 auto;
        border-top: 5px solid #fff;
        border-right: 3px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }

  @include mq-small {
    float: none;
    width: auto;
    border: 0;

    a {
      padding: 18px 15px;
      font-size: 14px;
      letter-spacing: 0;
      text-indent: 0;
      border-bottom: 1px solid $color-gray;
      background-color: #F5F5F5;
      &:hover {
        color: #fff;
        border-bottom-color: $color-gray;
        background-color: $base-link-color;

        &:after {
          display: none;
        }
      }
    }
  }
}

/**
 * p-header__nav__under
 */
.p-header__navUnder {
  position: absolute;
  left: 0;
  width: 100%;

  @include mq-middle {
    display: none;
  }
}

.p-header__navUnder__item {
  display: none;
  margin-top: 10px;
  padding: 20px 20px 10px;
  width: 100%;
  border: 2px solid $base-site-color;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(138, 138, 138, 0.6);
  box-sizing: border-box;
  opacity: 0;

  &.__is-active {
    display: block;
    opacity: 1;
    //animation-name: fade-in;
    //animation-duration: 300ms;
  }
  @keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
}



.p-header__navUnder__item__heading {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  a {
    display: block;
    padding: 5px 15px;
    font-size: 108%;
    text-decoration: none;
    background-color: $color-gray;
    &:hover {
      opacity: $base-opacity-rate;

    }
  }
}

.p-header__navUnder__item__list {
  display: block;
  margin: 0 0 15px 0;
  @include clearfix;
}

.p-header__navUnder__item__listItem {
  /* display: inline-block;
  margin-right: 20px;
  font-size: 108%;
  &:before {
    content: ">";
    margin-right: 4px;
  } */
  float: left;
  width: 33.33%;
  font-size: 108%;
  &:before {
    content: "●";
    margin-right: 4px;
    font-size: 100%;
    color: $color-blue;
  }
}

/**
 * p-header__sideNav
 */
.p-header__sideNav {
  position: absolute;
  z-index: 10;
  top: 180px;
  right: 0;

  @include mq-middle {
    display: none;
  }
}

.p-header__sideNav__list {
  overflow: hidden;
}

.p-header__sideNav__listItem {
  position: relative;
  right: -84px;
  margin-bottom: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 64, 148, 0.85);
  box-shadow: 0px 0px 3px rgba(138, 138, 138, 0.4);
  transition: right 300ms;
  &:hover {
    right: 0;
  }

  a {
    display: block;
    padding: 6px 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;

    &.__sightseeing:before { @include icon(cat-4-sightseeing); }
    &.__immigration:before { @include icon(cat-4-immigration); }

    &.__sightseeing:before,
    &.__immigration:before {
      margin-right: 10px;
      font-size: 32px;
    }
  }
}

.p-header__small-btns {
  display: none;

  @include mq-small {
    display: block;
    li {
      display: block;
      margin: 10px 0;
      width: 100%;
      font-size: 12px;
      &:not(:last-child):after {
        display: none;
      }
      a {
        display: block;
        width: 100%;
        padding: 7px 10px;
        color: #fff;
        text-align: center;
        text-indent: 10px;
        text-decoration: none;
        background-color: $color-blue;
        box-sizing: border-box;
        &:after {
          @include icon(i-arrow-r);
          font-size: 10px;
          margin-left: -4px;
        }
        &:hover {
          text-decoration: none;
          opacity: $base-opacity-rate;
        }
      }
    }
  }

}
