// ------------------------------
// QA
// ------------------------------

.p-qa {
  margin: 30px 0;
  border-top: 2px solid $color-black;
}

.p-qa__item {
  margin: 0;
  border-bottom: 2px solid $color-black;
}

.p-qa__item__q {
  position: relative;
  padding: 15px;
  color: $color-blue;
  border-bottom: 1px solid #ebeaea;
}

.p-qa__item__q__num {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 60px;
  font-size: 170%;
  text-align: center;
}

.p-qa__item__q__label {
  display: block;
  padding: 0 0 0 55px;
  font-size: 116%;
  font-weight: bold;

  @include mq-small {
    font-size: 14px;
  }
}

.p-qa__item__a {
  position: relative;
  min-height: 26px;
  padding: 15px 15px 15px 70px;
  background-color: #fbfafa;
  &:before {
    content: "A";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 60px;
    color: $color-blue;
    font-size: 170%;
    text-align: center;
  }
}
